docs/study/04_action_loop_ai_json.json
{
  "name": "04_action_loop_ai.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "482c7030-836c-4d33-a535-ed03fba569d2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## RSS URI LIST\n{\n\"feeds\": [\n \"https://www.aitimes.com/rss/allArticle.xml\",\n \"https://tech.kakaoenterprise.com/feed\",\n \"https://uxdesign.cc/feed\",\n\"https://www.chosun.com/arc/outboundfeeds/rss/category/entertainments/?outputType=xml\",\n\"https://www.chosun.com/arc/outboundfeeds/rss/category/sports/?outputType=xml\",\n\"https://www.chosun.com/arc/outboundfeeds/rss/category/opinion/?outputType=xml\",\n\"https://www.chosun.com/arc/outboundfeeds/rss/category/culture-life/?outputType=xml\",\n\"https://www.chosun.com/arc/outboundfeeds/rss/category/economy/?outputType=xml\",\n\"https://www.chosun.com/arc/outboundfeeds/rss/category/politics/?outputType=xml\",\n\"https://news.sbs.co.kr/news/headlineRssFeed.do?plink=RSSREADER\"\n]\n}",
        "height": 320,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -304
      ],
      "id": "26d749a0-576f-4252-a53d-4562222e1396",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"feeds\": [\n \"https://www.aitimes.com/rss/allArticle.xml\",\n \"https://tech.kakaoenterprise.com/feed\",\n \"https://uxdesign.cc/feed\",\n  \"https://www.chosun.com/arc/outboundfeeds/rss/category/entertainments/?outputType=xml\",\n  \"https://www.chosun.com/arc/outboundfeeds/rss/category/sports/?outputType=xml\",\n  \"https://www.chosun.com/arc/outboundfeeds/rss/category/opinion/?outputType=xml\",\n  \"https://www.chosun.com/arc/outboundfeeds/rss/category/culture-life/?outputType=xml\",\n  \"https://www.chosun.com/arc/outboundfeeds/rss/category/economy/?outputType=xml\",\n  \"https://www.chosun.com/arc/outboundfeeds/rss/category/politics/?outputType=xml\",\n  \"https://news.sbs.co.kr/news/headlineRssFeed.do?plink=RSSREADER\"\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a25ddeb9-89e8-4b14-8b20-25801641a3c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "feeds",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "90683c89-c35c-4a7a-8297-ac6095b6cc9e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "03d51375-fb96-46df-b84d-dd9417509a73",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.feeds }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        880,
        16
      ],
      "id": "2c6c7189-3e67-40df-916c-a03ffcbcdb0a",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1088,
        16
      ],
      "id": "53221e4b-8b31-41aa-b5e2-4693fc68fe00",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7eb8e96-7cca-4603-ba15-e293828e8ce9",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "b2ff75a7-257a-452c-acd8-fc8707d3c689",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "7a1c20d0-5b65-4cf9-89fd-b91c86add523",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "d7a9d0b0-4d88-44f1-83b2-7c6d127d1255",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        288
      ],
      "id": "97b3539c-68c5-45e9-b670-9024a5129d01",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=기사 내용을 간략화 해줘.\n\ncontent 필드값을 30자로 줄여줘. (**markdown, markup 제외, p태그, span태그 제외**)\n나머지 필드들은 수정하지말고 내용 고정.\n\n##출력 예시 (Json 형식)\n\n{\n\"title\": \"text\",\n\"link\": \"link\",\n\"content:encoded\": \"text\",\n\"pubDate\": \"date\"\n},\n\n##기사 내용\n{\n\"title\": \"{{ $json.title }}\",\n\"link\": \"{{ $json.link }}\",\n\"content:encoded\": \"{{ $json.content }}\",\n\"pubDate\": \"{{ $json.pubDate }}\"\n\n}, "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        496,
        288
      ],
      "id": "91b3685d-ac73-4cf9-adda-12cf04c8d9bf",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "EXc8HVtldy9X0z9R",
          "name": "gemni_aistudio_apiKey_1017"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8297276244",
        "text": "=제목: {{ $json.title }}\n링크: {{ $json.link }}\n요약 내용: ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        288
      ],
      "id": "db1d494a-b655-4cf4-b06e-c6f183f23fd5",
      "name": "Send a text message",
      "webhookId": "b38fffb0-c8f8-4683-bd2f-5ca0bd743873",
      "credentials": {
        "telegramApi": {
          "id": "KIKzWEpf2iG9EOKg",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 결과를 저장할 빈 배열을 생성합니다.\nconst results = [];\n\n// 이전 노드에서 들어온 모든 아이템을 순회합니다.\n// 'items'는 n8n에서 사용하는 기본 입력 변수입니다.\nfor (const item of items) {\n  try {\n    // 1. 파싱할 대상이 되는 원본 텍스트를 가져옵니다.\n    const rawText = item.json.content.parts[0].text;\n\n    // 2. 텍스트에서 순수한 JSON 부분만 추출합니다.\n    const firstBraceIndex = rawText.indexOf('{');\n    const lastBraceIndex = rawText.lastIndexOf('}');\n    const jsonString = rawText.substring(firstBraceIndex, lastBraceIndex + 1);\n\n    // 3. 추출한 문자열을 JSON 객체로 파싱합니다.\n    const parsedData = JSON.parse(jsonString);\n\n    // 4. 'content:encoded'와 'content' 값을 하나의 'content' 파라미터로 통합합니다. (★★★ 수정된 부분 ★★★)\n    //    'content:encoded'가 있으면 그 값을, 없으면 'content' 값을 사용합니다.\n    const unifiedContent = parsedData['content:encoded'] || parsedData.content || '';\n\n    // 5. 원하는 데이터를 추출하여 새 객체를 만듭니다. (★★★ 수정된 부분 ★★★)\n    const newItem = {\n      json: {\n        title: parsedData.title,\n        link: parsedData.link,\n        content: unifiedContent // 통합된 content 값을 할당\n      }\n    };\n\n    // 6. 최종 결과 배열에 새로 만든 객체를 추가합니다.\n    results.push(newItem);\n\n  } catch (error) {\n    // 만약 JSON 파싱 중 오류가 발생하면, 워크플로우 전체가 멈추지 않도록\n    // 에러를 기록하고 해당 아이템은 건너뜁니다.\n    console.error(\"아이템 처리 중 오류 발생:\", error);\n  }\n}\n\n// 7. 최종적으로 파싱되고 정리된 데이터 배열을 반환합니다.\n// 이 데이터가 Code 노드의 출력이 되어 다음 노드로 전달됩니다.\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        288
      ],
      "id": "8b79ddae-5db3-402f-9fa1-9fade0602ca4",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}