docs/study/06_storage_googleSheets.json
{
  "name": "reviews_06_storage_googleSheets",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b47f465a-1da6-4771-81ff-3831edaa9784",
              "name": "URL",
              "value": "={{ $('userInputForm').item.json.URL }}",
              "type": "string"
            },
            {
              "id": "632bbc88-5256-4eb6-9618-dbc91494b543",
              "name": "email",
              "value": "={{ $('userInputForm').item.json.email }}",
              "type": "string"
            },
            {
              "id": "fb34af09-ec12-4b27-addf-8937d75eca78",
              "name": "date",
              "value": "={{ $('userInputForm').item.json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "791330fd-36f6-4940-b438-849ff5988ed4",
              "name": "keyValue",
              "value": "={{ $('userInputForm').item.json.submittedAt }}-{{ $('userInputForm').item.json.URL }}",
              "type": "string"
            },
            {
              "id": "442a11c9-db58-4f1d-aa47-a076ade554f8",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "473c377d-baf5-4a17-8e67-f79469c0fce0",
      "name": "inputFieldsEdit"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "7f717a0a-b434-44d3-8797-24c243b653f3",
      "name": "newsRequest"
    },
    {
      "parameters": {
        "formTitle": "기사요약 서비스",
        "formDescription": "기사 URL을 입력하시면 기사를 요약하여 메일로 보내드립니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "fieldType": "textarea",
              "placeholder": "(예: https://zdnet.co.kr/view/?no=20251019120328)",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "placeholder": "(ex: jinh2kakao@gmail.com)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "3f865f32-7702-48bb-af0d-c74b85faf9dc",
      "name": "userInputForm",
      "webhookId": "d8795ba9-b682-4a89-bcf4-d2e70d0ca99e"
    },
    {
      "parameters": {
        "content": "## 사용자 요청정보 google Sheets에 update\n",
        "height": 304,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -96
      ],
      "typeVersion": 1,
      "id": "073d9fee-023a-418d-9109-5abcbac632b0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Gemini에서 기사 요약해서 Sheet에 update\n",
        "height": 320,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        336
      ],
      "typeVersion": 1,
      "id": "80757d2a-48f0-4916-9ce9-31ddeb1cdfed",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 기사요약 내용 email 발송 후 발송여부 Y로 변경\n- 이메일 최종 주소 처리: {{ $json.email.join(',') }}",
        "height": 288,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        736
      ],
      "typeVersion": 1,
      "id": "408f996d-330a-45f8-819b-d3547b371faa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 정리의 신이야.\n다음 기사를 읽고 정리해줘.\n전달하는 **기사 내용**을 html로 전달하면 요약해줘.\n\n출력 예시구조 형식을 지켜줘\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n\n[요약 항목]\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n  - \\, \\n 같은 코드는 제외하고 응답.\n\n**[출력 예시 구조 - JSON]**\n{\n  \"기사 제목\": TEXT,\n  \"출처/언론사\": TEXT,\n  \"기자 이름\": TEXT,\n  \"핵심 요약\": TEXT,\n  \"카테고리\": TEXT,\n  \"핵심 키워드\": TEXT,\n  \"한줄평\": TEXT,\n}\n\n[기사 내용]\n{{ $('inputFieldsEdit').item.json.data }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        416
      ],
      "id": "3c094f04-3695-4356-8696-8812e5e0252d",
      "name": "roleNewsSummary",
      "retryOnFail": true,
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "EXc8HVtldy9X0z9R",
          "name": "gemni_aistudio_apiKey_1017"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "559b8f64-8ce1-4dd9-8eea-4acc86a60a83",
              "name": "text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        416
      ],
      "id": "b263466e-92b9-45d9-8999-7e2e2195cc0d",
      "name": "textObject"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634291137,
          "mode": "list",
          "cachedResultName": "study_input_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=1634291137"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $('inputFieldsEdit').item.json.keyValue }}",
            "title": "={{ $json.candidates[0].content.parts[0].text[\"기사 제목\"] }}",
            "keyPoints": "=- 출처/언론사: {{ $json.candidates[0].content.parts[0].text[\"출처/언론사\"] }},\n- 기자 이름: {{ $json.candidates[0].content.parts[0].text['기자 이름'] }},\n- 카테고리: {{ $json.candidates[0].content.parts[0].text['카테고리'] }},\n- 핵심 키워드: {{ $json.candidates[0].content.parts[0].text['핵심 키워드'] }},\n- 핵심 요약: {{ $json.candidates[0].content.parts[0].text['핵심 요약'] }}",
            "oneLineReview": "={{ $json.candidates[0].content.parts[0].text[\"한줄평\"] }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailList",
              "displayName": "emailList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        416
      ],
      "id": "e6cf787f-4c30-49f3-ad9e-25f9d36997e8",
      "name": "newsUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634291137,
          "mode": "list",
          "cachedResultName": "study_input_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=1634291137"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $json.keyValue }}",
            "date": "={{ $json.date }}",
            "URL": "={{ $json.URL }}",
            "emailSendYn": "N",
            "telegramSendYn": "N"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailList",
              "displayName": "emailList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "54162814-825b-473c-bf9e-b5d8715551af",
      "name": "userInputUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI",
          "mode": "list",
          "cachedResultName": "Member_informations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        816
      ],
      "id": "5054b436-0a80-4351-b113-594cc051711a",
      "name": "getEmail",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2f2cbc7-1663-4cdf-9941-1ae81959e7e1",
              "name": "email",
              "value": "={{ $json[\"google Email\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        816
      ],
      "id": "e8061d7f-4fbe-4343-84e7-07f7e398b071",
      "name": "emailField"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        816
      ],
      "id": "dc16cdf9-12dc-4522-98ae-99985347d2df",
      "name": "emailAggregate"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email.join(',') }}",
        "subject": "테스트] n8n 컬럼테스트",
        "message": "=<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>{{ $('textObject').item.json.candidates[0].content.parts[0].text['기사 제목'] }}</title>\n    <!--[if gte mso 9]>\n    <xml>\n      <o:OfficeDocumentSettings>\n        <o:AllowPNG/>\n        <o:PixelsPerInch>96</o:PixelsPerInch>\n      </o:OfficeDocumentSettings>\n    </xml>\n    <![endif]-->\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td align=\"center\" style=\"padding: 20px 0;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); font-family: Arial, '돋움', Dotum, sans-serif;\">\n                    <!-- Header -->\n                    <tr>\n                        <td align=\"center\" style=\"padding: 40px 30px 20px; border-bottom: 1px solid #eeeeee;\">\n                            <h1 style=\"margin: 0; font-size: 28px; color: #1a1a1a; font-weight: 600; line-height: 1.4;\">\n                               {{ $('textObject').item.json.candidates[0].content.parts[0].text['기사 제목'] }} \n                            </h1>\n                        </td>\n                    </tr>\n                    <!-- Meta Info -->\n                    <tr>\n                        <td style=\"padding: 20px 30px 10px;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                                <tr>\n                                    <td width=\"50%\" style=\"font-size: 14px; color: #555555;\"><strong>출처/언론사:</strong> {{ $('textObject').item.json.candidates[0].content.parts[0].text['출처/언론사'] }}</td>\n                                    <td width=\"50%\" align=\"right\" style=\"font-size: 14px; color: #555555;\"><strong>기자:</strong> {{ $('textObject').item.json.candidates[0].content.parts[0].text['기자 이름'] }}</td>\n                                </tr>\n                                 <tr>\n                                    <td width=\"50%\" style=\"padding-top: 8px; font-size: 14px; color: #555555;\"><strong>카테고리:</strong> {{ $('textObject').item.json.candidates[0].content.parts[0].text['카테고리'] }}</td>\n                                     <td width=\"50%\" align=\"right\" style=\"padding-top: 8px; font-size: 14px; color: #555555;\"><strong> </strong> </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <!-- Main Content -->\n                    <tr>\n                        <td style=\"padding: 20px 30px 30px;\">\n                            <p style=\"margin: 0; font-size: 16px; color: #333333; line-height: 1.6;\">\n                                {{ $('textObject').item.json.candidates[0].content.parts[0].text['핵심 요약'] }}\n                            </p>\n                        </td>\n                    </tr>\n                    <!-- One-Line Review -->\n                    <tr>\n                        <td style=\"padding: 0 30px 30px;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #f0f5ff; border-left: 4px solid #4a90e2; border-radius: 4px;\">\n                                <tr>\n                                    <td style=\"padding: 20px;\">\n                                        <p style=\"margin: 0; font-size: 16px; color: #002d6b; font-style: italic; line-height: 1.6;\">\n                                            \"{{ $('textObject').item.json.candidates[0].content.parts[0].text['한줄평'] }}\"\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <!-- Keywords -->\n                    <tr>\n                        <td style=\"padding: 0px 30px 40px;\">\n                             <p style=\"margin: 0; font-size: 14px; color: #333; line-height: 1.6;\">\n                                 <strong>주요 키워드:</strong>\n                             </p>\n                             {{ $('textObject').item.json.candidates[0].content.parts[0].text['핵심 키워드'] }}\n                             </p>\n                        </td>\n                    </tr>\n                     <!-- Footer -->\n                    <tr>\n                        <td align=\"center\" style=\"padding: 20px 30px; background-color: #fafafa; border-top: 1px solid #eeeeee; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;\">\n                            <p style=\"margin: 0; font-size: 12px; color: #888888;\">\n                                &copy; 2025 Your Company. All rights reserved.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        816
      ],
      "id": "f5f6ba3e-31d9-4308-a80d-b5382f9ee330",
      "name": "newsSendMessage",
      "webhookId": "92c95d52-2a1e-43e9-895c-44a90dc06cec",
      "credentials": {
        "gmailOAuth2": {
          "id": "DIOGucUK4lqfvmQR",
          "name": "jinh2kakao Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634291137,
          "mode": "list",
          "cachedResultName": "study_input_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=1634291137"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegramSendYn": "Y",
            "keyValue": "={{ $('inputFieldsEdit').item.json.keyValue }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailList",
              "displayName": "emailList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        1232
      ],
      "id": "d231804b-89b7-44ce-b324-83061b2edaed",
      "name": "telegramSendYn",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 기사요약 내용 telegram 발송 후 발송여부 Y로 변경",
        "height": 240,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        1152
      ],
      "typeVersion": 1,
      "id": "2f600904-8488-431f-acc2-5d9c6a0c9c25",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "chatId": "8297276244",
        "text": "=- 제목: {{ $('textObject').item.json.candidates[0].content.parts[0].text['기사 제목'] }}, - 출처: {{ $('textObject').item.json.candidates[0].content.parts[0].text['출처/언론사'] }}, - 작성자: {{ $('textObject').item.json.candidates[0].content.parts[0].text['기자 이름'] }}, - 카테고리: {{ $('textObject').item.json.candidates[0].content.parts[0].text['카테고리'] }}, - 핵심요약: {{ $('textObject').item.json.candidates[0].content.parts[0].text['핵심 요약'] }}, - 한줄평: {{ $('textObject').item.json.candidates[0].content.parts[0].text['한줄평'] }}, - 키워드: {{ $('textObject').item.json.candidates[0].content.parts[0].text['핵심 키워드'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        1232
      ],
      "id": "6ace9ba1-b909-41cd-a49c-52506e6016b8",
      "name": "Send a text message",
      "webhookId": "4d55bbc6-4bdc-400d-a80f-cf41a5e35ced",
      "credentials": {
        "telegramApi": {
          "id": "KIKzWEpf2iG9EOKg",
          "name": "n8n_jinh2kakao_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1634291137,
          "mode": "list",
          "cachedResultName": "study_input_output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=1634291137"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "emailSendYn": "Y",
            "keyValue": "={{ $('inputFieldsEdit').item.json.keyValue }}",
            "emailList": "={{ $('emailAggregate').item.json.email.join(', ') }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailList",
              "displayName": "emailList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        816
      ],
      "id": "8d30252c-7ff9-41c2-8b9c-73d6cd1078d5",
      "name": "sendMailYn",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "inputFieldsEdit": {
      "main": [
        [
          {
            "node": "userInputUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newsRequest": {
      "main": [
        [
          {
            "node": "inputFieldsEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userInputForm": {
      "main": [
        [
          {
            "node": "newsRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "roleNewsSummary": {
      "main": [
        [
          {
            "node": "textObject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "textObject": {
      "main": [
        [
          {
            "node": "newsUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newsUpdate": {
      "main": [
        [
          {
            "node": "getEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userInputUpdate": {
      "main": [
        [
          {
            "node": "roleNewsSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getEmail": {
      "main": [
        [
          {
            "node": "emailField",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emailField": {
      "main": [
        [
          {
            "node": "emailAggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emailAggregate": {
      "main": [
        [
          {
            "node": "newsSendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "newsSendMessage": {
      "main": [
        [
          {
            "node": "sendMailYn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "telegramSendYn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendMailYn": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}