docs/study/RAG_agent_with_Postgrel.json
{
  "name": "RAG_agent_with_Postgrel",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1egCETizat1q_rAjXTQ0n1BgOtpBXLLdX",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "06ffc68f-3fb7-4186-bb10-ae4660e6bf22",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rAxALcYeMkM3SOd4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "346e008c-87b1-4f0a-82e9-976950b08546",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rAxALcYeMkM3SOd4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "187bc648-7c99-41fd-b2d7-44d147d4c7c8",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "RycjHeLfLvjF9AGW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        256
      ],
      "id": "ccbec04e-57fe-4c96-8977-0c9e4cb3c631",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "document_title",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        528,
        256
      ],
      "id": "fe5d3656-7524-40db-96ed-b1f82de6c845",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        464
      ],
      "id": "26540619-0169-467b-affb-c6090e016bfd",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        320
      ],
      "id": "c53e51fe-ca4b-4b77-8440-005f43dc12a8",
      "name": "When chat message received",
      "webhookId": "485756e9-a996-41a0-b26b-cd3f0f340019"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful and knowledgeable assistant that answers questions based only on the given Korean documents (context).\nGuidelines:\n- Your answers must be based **only** on the provided context.\n- If the context does **not** contain the information needed,\nsay\n\" 해당\n문서에는 정보가 없습니다.\" and do not make up an answer.\n- Provide **clear land concise answers in Korean**.\n- If the user asks in English, still respond in Korean using the context.\nContext documents are in Korean"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        320
      ],
      "id": "1230091b-e22f-415d-bc8e-1c664497b1b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -464,
        528
      ],
      "id": "15f93084-12f0-4edd-9ea7-686cebe77069",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve internal company documents related to policies, rules, or procedures based on semantic similarity to the question.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -192,
        576
      ],
      "id": "0d39c25d-8d68-4ae0-ac8d-45b5afbb9de8",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "RycjHeLfLvjF9AGW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -304,
        688
      ],
      "id": "2b2865a2-4065-4007-987a-acd21912131b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "RycjHeLfLvjF9AGW",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1egCETizat1q_rAjXTQ0n1BgOtpBXLLdX"
          ],
          "lastModifyingUser": {
            "displayName": "김진현_유튜브",
            "kind": "drive#user",
            "me": true,
            "permissionId": "01354434175690221972",
            "emailAddress": "jinh2kakao@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIYNI3qM0WrwSGjtWeIWvj21aBNVlriOt-FIoBnQqHuEG91Iw=s64"
          },
          "owners": [
            {
              "displayName": "김진현_유튜브",
              "kind": "drive#user",
              "me": true,
              "permissionId": "01354434175690221972",
              "emailAddress": "jinh2kakao@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIYNI3qM0WrwSGjtWeIWvj21aBNVlriOt-FIoBnQqHuEG91Iw=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "01354434175690221972",
              "type": "user",
              "emailAddress": "jinh2kakao@gmail.com",
              "role": "owner",
              "displayName": "김진현_유튜브",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocIYNI3qM0WrwSGjtWeIWvj21aBNVlriOt-FIoBnQqHuEG91Iw=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "01354434175690221972"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1wK30EjZ2Irrllq52pmIQWKqJlYTZqcrQ",
          "name": "취업규칙.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=1wK30EjZ2Irrllq52pmIQWKqJlYTZqcrQ&export=download",
          "webViewLink": "https://drive.google.com/file/d/1wK30EjZ2Irrllq52pmIQWKqJlYTZqcrQ/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMlZwsSk4pBdxA2yDFlclsi8FRQgk8VR36dl0GD7J3iPbPSPGbqIo1sUIS5gPYiJbfumNL8IMjJwa0W4jSzqxt3VtG6bwsXmUNL2If-529lfLU=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-11-26T03:43:09.933Z",
          "createdTime": "2025-11-26T03:43:09.933Z",
          "modifiedTime": "2025-11-26T03:42:18.000Z",
          "modifiedByMeTime": "2025-11-26T03:42:18.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "취업규칙.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "9a6e692cc01bf016b625ab20bdebfa38",
          "sha1Checksum": "2c7edf59800ea869b67e840af09d5a9e5ca74c5e",
          "sha256Checksum": "a49058d333adde8d9f0046dffd7b994c39561f67fb44c416bcdfb627b6bfc039",
          "size": "179536",
          "quotaBytesUsed": "179536",
          "headRevisionId": "0B_iu_e6mWlonc1FZYzYyaUFIdjQwU0d1elhKV05QZEdocDljPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "db9dd461-df29-4866-98b0-9ddfcbfa8cf0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "777b07ef47bd7c75e9e34b7e5095f486f52077aca2a4ed266a442d29f4412bed"
  },
  "id": "NanboNsAIeVm2agf",
  "tags": []
}