docs/study/study_07_sendMessage_gmail.json
{
  "name": "study_07_sendMessage_gmail",
  "nodes": [
    {
      "parameters": {
        "sendTo": "learnbook1103@gmail.com,jinh2kakao@gmail.com",
        "subject": "=테스트] {{ $('When chat message received').item.json.chatInput }} - 김진현",
        "message": "={{ $json.content.parts[0].text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "f10370d3-5477-4c59-b062-88350d6b25c3",
      "name": "Send a message",
      "webhookId": "31c08dee-4328-493d-89b7-79e8884aa7f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "DIOGucUK4lqfvmQR",
          "name": "jinh2kakao Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        0
      ],
      "id": "48f2d048-cb59-461b-a1e4-9d1ddbb8faa0",
      "name": "When chat message received",
      "webhookId": "eda838c5-f3c2-4d09-95a5-68bea021effd"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}\n출력형식은 html형식으로 출력해줘."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "f223c849-ea23-49af-a086-5a9cde50e552",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "EXc8HVtldy9X0z9R",
          "name": "gemni_aistudio_apiKey_1017"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}