docs/study/study_08_storage_googleSheets.json
{
  "name": "study_08_storage_googleSheets",
  "nodes": [
    {
      "parameters": {
        "formTitle": "당신의 운세 !!",
        "formDescription": "당신의 운세를 알려드립니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "MBTI",
              "placeholder": "당신의 MBTI를 입력해주세요. (예: INFJ)",
              "requiredField": true
            },
            {
              "fieldLabel": "Birthday",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Gender",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "남성"
                  },
                  {
                    "option": "여성"
                  },
                  {
                    "option": "무관"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "이메일로 운세를 보내드려요. (예: abcd@gmail.com)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "8b5110e3-a32c-44c2-a958-3c0bbbb225c4",
      "name": "On form submission",
      "webhookId": "f8ac3e08-ed6d-4da1-906c-018602da4e82"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=아래 정보를 기반으로 사주, 띠별 운세, 별자리 운세, 총론 및 각 항목 점수를 알려줘\n* MBTI :{{ $json.MBTI }} ,\n* 생년월일 : {{ $json.Birthday }},\n* 성별 :{{ $json.Gender }}\n참고\n* 키값 : {{ $json.keyValue }},\n* 오늘 날짜 : {{ $now }}\n당신은 전문적인 점성가이자 운세 상담가이며 MBTI 성향 분석에 대한 이해도가 높습니다. 사주명리학, 띠별 운세, 서양 별자리 등의 지식과 MBTI 이해를 바탕으로 종합적인 운세와 각 항목의 점수, 성향별 조언을 제공합니다.\n**[역할]**\n  - 사용자가 입력한 생년월일, 태어난 시각, 성별 등을 기준으로 사주팔자를 분석하고, 음양오행, 오행의 균형, 10신 등을 바탕으로 인생 전반 운세를 풀이합니다.\n  - 출생 연도를 기준으로 12지 띠 운세(쥐띠\\~돼지띠) 해석을 제공합니다.\n  - 생일과 태어난 시간을 기반으로 서양 별자리 및 상승궁까지 고려한 성격/운세 분석을 제공합니다.\n  - 각 내용에 대해서 가장 좋은 운세를 100점으로 가정하여 점수화합니다.\n  - MBTI를 고려하여 더욱 체계적이고 실용적인 내용을 전달합니다.\n  - 사주 관련해서는 필요 시 연결된 Google Sheet Tool을 활용합니다.\n**[응답 방식]**\n  - 단순한 정보 나열이 아닌 실제 상담사 처럼 따뜻하고 신뢰감 있는 어조로 가능한 상세하게 설명합니다.\n  - 전체 결과물의 분량은 200자 이상으로 구성해 주세요.\n  - 점수는 100점을 만점으로 1\\~100 사이 숫자(NUMBER)로 표현해 주세요.\n  - 해석은 사용자의 인생 전반을 존중하는 방향으로 하고, 부정적인 정보는 조심스럽고 중립적으로 표현합니다.\n  - 사용자가 요청한 운세 종류가 명확하지 않으면 추가 질문 없이 종합 운세를 제공합니다.\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n  - \\, \\n 같은 코드는 제외하고 응답.\n\n**[출력 예시 구조 - JSON]**\n{\n  \"사주 운세\": TEXT,\n  \"사주 운세 점수\": NUMBER,\n  \"띠별 운세\": TEXT,\n  \"띠별 운세 점수\": NUMBER,\n  \"별자리 운세\": TEXT,\n  \"별자리 운세 점수\": NUMBER,\n  \"오늘/이번 주 운세\": TEXT,\n  \"오늘/이번 주 운세 점수\": NUMBER,\n  \"총평 및 조언\": TEXT(MBTI 연관 내용 필수)\n}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "16b7e1de-b800-40dc-9ec6-e9ee47e2a022",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "EXc8HVtldy9X0z9R",
          "name": "gemni_aistudio_apiKey_1017"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "abc23590-0e6b-4165-8127-3d2abba18806",
              "name": "MBTI",
              "value": "={{ $json.MBTI }}",
              "type": "string"
            },
            {
              "id": "33994d8c-c0ff-455e-856b-135ecc3b8a72",
              "name": "Birthday",
              "value": "={{ $json.Birthday }}",
              "type": "string"
            },
            {
              "id": "85517963-4198-429c-a042-8444980ff262",
              "name": "Gender",
              "value": "={{ $json.Gender }}",
              "type": "string"
            },
            {
              "id": "e4ed414e-14e2-4d16-92eb-aa29dd9976ef",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "081d9039-abe2-4616-8f4e-3a6b3b89ccfd",
              "name": "submittedAt",
              "value": "={{ $json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "b7733e19-20e5-4523-b6df-0136aa6c1548",
              "name": "formMode",
              "value": "={{ $json.formMode }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "75256bac-b82f-4158-be0c-6b485687706b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Google Sheet update raws\n**참고** 확장자가 google sheet로 되어 있어야 연결 가능. xlsx 확장자는 연결 불가"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -192
      ],
      "typeVersion": 1,
      "id": "fb1b9a58-7c43-4f6c-a56d-8e4a52f652bf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RAk6p63nsCDINZFCWhM7adwma9QaMnJMGNCYS1beN3g",
          "mode": "list",
          "cachedResultName": "MBTI_ananlysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RAk6p63nsCDINZFCWhM7adwma9QaMnJMGNCYS1beN3g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1132680155,
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RAk6p63nsCDINZFCWhM7adwma9QaMnJMGNCYS1beN3g/edit#gid=1132680155"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MBTI": "={{ $json.MBTI }}",
            "Birthday": "={{ $json.Birthday }}",
            "Gender": "={{ $json.Gender }}",
            "Email": "={{ $json.Email }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "fromMode": "={{ $json.formMode }}",
            "keyValue": "={{ $json.submittedAt }}-{{ $json.Email }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "MBTI",
              "displayName": "MBTI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Birthday",
              "displayName": "Birthday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fromMode",
              "displayName": "fromMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sazoo",
              "displayName": "Sazoo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SazooScore",
              "displayName": "SazooScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiac",
              "displayName": "EastZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiacScore",
              "displayName": "EastZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiac",
              "displayName": "WestZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiacScore",
              "displayName": "WestZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_Weeky",
              "displayName": "Daily_Weeky",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_WeekyScore",
              "displayName": "Daily_WeekyScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentMail",
              "displayName": "SentMail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        0
      ],
      "id": "6fdecce5-4873-4e51-aa70-830fbb9183d6",
      "name": "userInputUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RAk6p63nsCDINZFCWhM7adwma9QaMnJMGNCYS1beN3g",
          "mode": "list",
          "cachedResultName": "MBTI_ananlysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RAk6p63nsCDINZFCWhM7adwma9QaMnJMGNCYS1beN3g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1132680155,
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RAk6p63nsCDINZFCWhM7adwma9QaMnJMGNCYS1beN3g/edit#gid=1132680155"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $json.keyValue }}",
            "Sazoo": "={{ $json.Sazoo }}",
            "SazooScore": "={{ $json.SazooScore }}",
            "EastZodiac": "={{ $json.EastZodiac }}",
            "EastZodiacScore": "={{ $json.EastZodiacScore }}",
            "WestZodiac": "={{ $json.WestZodiac }}",
            "WestZodiacScore": "={{ $json.WestZodiacScore }}",
            "Daily_Weeky": "={{ $json.Daily_Weeky }}",
            "Daily_WeekyScore": "={{ $json.Daily_WeekyScore }}",
            "Summary": "={{ $json.Summary }}",
            "SentMail": "={{ $json.SentMail }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "MBTI",
              "displayName": "MBTI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Birthday",
              "displayName": "Birthday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Gender",
              "displayName": "Gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fromMode",
              "displayName": "fromMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sazoo",
              "displayName": "Sazoo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SazooScore",
              "displayName": "SazooScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiac",
              "displayName": "EastZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EastZodiacScore",
              "displayName": "EastZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiac",
              "displayName": "WestZodiac",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WestZodiacScore",
              "displayName": "WestZodiacScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_Weeky",
              "displayName": "Daily_Weeky",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Daily_WeekyScore",
              "displayName": "Daily_WeekyScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SentMail",
              "displayName": "SentMail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        352
      ],
      "id": "219a66c7-f6ac-4c01-868b-87eef00307ac",
      "name": "sazooUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.SentMail }}",
        "subject": "=TEST - {{ $('userInputUpdate').item.json.Birthday }} 탄생한 당신의 운세",
        "message": "=<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>2025년 운세 리포트</title>\n    <!-- Google Fonts Noto Sans KR 추가 -->\n    <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n    <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n    <link href=\"https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        /* 기본 스타일 */\n        body {\n            font-family: 'Noto Sans KR', sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f4f7f6;\n            -webkit-font-smoothing: antialiased;\n            -moz-osx-font-smoothing: grayscale;\n        }\n        /* 전체를 감싸는 컨테이너 */\n        .email-container {\n            max-width: 680px;\n            margin: 40px auto;\n            background-color: #ffffff;\n            border-radius: 12px;\n            overflow: hidden;\n            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);\n            border: 1px solid #e0e0e0;\n        }\n        /* 헤더 스타일 */\n        .header {\n            background: linear-gradient(135deg, #6a82fb, #fc5c7d);\n            color: #ffffff;\n            padding: 40px;\n            text-align: center;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 28px;\n            font-weight: 700;\n        }\n        .header p {\n            margin: 10px 0 0;\n            font-size: 16px;\n            opacity: 0.9;\n        }\n        /* 컨텐츠 영역 */\n        .content {\n            padding: 30px 40px;\n        }\n        /* 각 운세 섹션 카드 스타일 */\n        .fortune-card {\n            margin-bottom: 25px;\n            border: 1px solid #eaeaea;\n            border-radius: 10px;\n            background-color: #fff;\n            transition: box-shadow 0.3s ease;\n        }\n        .fortune-card:hover {\n             box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);\n        }\n        /* 카드 헤더 (제목과 점수) */\n        .card-header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            padding: 20px;\n            background-color: #f9f9f9;\n            border-bottom: 1px solid #eaeaea;\n            border-top-left-radius: 10px;\n            border-top-right-radius: 10px;\n        }\n        .card-header h2 {\n            margin: 0;\n            font-size: 20px;\n            color: #333;\n            font-weight: 500;\n        }\n        /* 점수 뱃지 스타일 */\n        .score-badge {\n            background-color: #6a82fb;\n            color: #ffffff;\n            padding: 6px 12px;\n            border-radius: 20px;\n            font-size: 14px;\n            font-weight: 700;\n        }\n        /* 카드 본문 */\n        .card-body {\n            padding: 20px;\n            font-size: 15px;\n            line-height: 1.8;\n            color: #555;\n            text-align: justify;\n        }\n        /* 총평 섹션 특별 스타일 */\n        .summary-card {\n            background-color: #f8faff;\n            border-left: 5px solid #6a82fb;\n        }\n        .summary-card .card-header {\n            background-color: transparent;\n        }\n        .summary-card .card-header h2 {\n            color: #6a82fb;\n            font-weight: 700;\n        }\n        /* 푸터 스타일 */\n        .footer {\n            text-align: center;\n            padding: 20px;\n            font-size: 12px;\n            color: #999;\n            background-color: #f4f7f6;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <!-- 이메일 헤더 -->\n        <div class=\"header\">\n            <h1>2025년 신년 운세 리포트</h1>\n            <p>당신의 빛나는 한 해를 응원합니다.</p>\n        </div>\n\n        <!-- 이메일 본문 -->\n        <div class=\"content\">\n            <!-- 사주 운세 카드 -->\n            <div class=\"fortune-card\">\n                <div class=\"card-header\">\n                    <h2>사주 (四柱)</h2>\n                    <span class=\"score-badge\">{{ $json.SazooScore }}점</span>\n                </div>\n                <div class=\"card-body\">\n                    <p>\n                        {{ $json.Sazoo }}\n                    </p>\n                </div>\n            </div>\n\n            <!-- 띠별 운세 카드 -->\n            <div class=\"fortune-card\">\n                <div class=\"card-header\">\n                    <h2>띠별 운세</h2>\n                    <span class=\"score-badge\">{{ $json.EastZodiacScore }}점</span>\n                </div>\n                <div class=\"card-body\">\n                    <p>\n                        {{ $json.EastZodiac }}\n                    </p>\n                </div>\n            </div>\n            \n            <!-- 별자리 운세 카드 -->\n            <div class=\"fortune-card\">\n                <div class=\"card-header\">\n                    <h2>별자리 운세</h2>\n                    <span class=\"score-badge\">{{ $json.WestZodiacScore }}점</span>\n                </div>\n                <div class=\"card-body\">\n                    <p>\n                        {{ $json.WestZodiac }}\n                    </p>\n                </div>\n            </div>\n            \n            <!-- 일별/주간 운세 카드 -->\n            <div class=\"fortune-card\">\n                <div class=\"card-header\">\n                    <h2>일일 운세</h2>\n                    <span class=\"score-badge\">{{ $json.Daily_WeekyScore }}점</span>\n                </div>\n                <div class=\"card-body\">\n                    <p>\n                        {{ $json.Daily_Weeky }}\n                    </p>\n                </div>\n            </div>\n\n            <!-- 총평/요약 카드 -->\n            <div class=\"fortune-card summary-card\">\n                <div class=\"card-header\">\n                    <h2>총평 및 조언 </h2>\n                </div>\n                <div class=\"card-body\">\n                    <p>\n                        {{ $json.Summary }}\n                    </p>\n                </div>\n            </div>\n        </div>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        352
      ],
      "id": "286cf928-ec78-4f6f-9ec6-7958ea044fc7",
      "name": "Send a message",
      "webhookId": "caecf05b-b019-4e5f-a5c0-d51a609fe126",
      "credentials": {
        "gmailOAuth2": {
          "id": "DIOGucUK4lqfvmQR",
          "name": "jinh2kakao Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1ac5aa8-00aa-4c31-8716-87d4dc626a89",
              "name": "text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        352
      ],
      "id": "ad508de3-50a1-43ca-9b91-86b710162d9f",
      "name": "objectProcess"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72cb497c-2826-49be-9e7d-a964e1c6e77b",
              "name": "keyValue",
              "value": "={{ $('userInputUpdate').item.json.keyValue }}",
              "type": "string"
            },
            {
              "id": "392cbfb0-008f-47ec-8ebc-0364dce804a6",
              "name": "Sazoo",
              "value": "={{ $json.text[\"사주 운세\"] }}",
              "type": "string"
            },
            {
              "id": "051229e8-bd3d-481f-af2c-017282929fa5",
              "name": "SazooScore",
              "value": "={{ $json.text[\"사주 운세 점수\"] }}",
              "type": "string"
            },
            {
              "id": "e6a70e5e-fddd-4838-a14d-53ad9086c911",
              "name": "EastZodiac",
              "value": "={{ $json.text[\"띠별 운세\"] }}",
              "type": "string"
            },
            {
              "id": "858128ea-9977-4cd6-b176-4d694181b3bf",
              "name": "EastZodiacScore",
              "value": "={{ $json.text[\"띠별 운세 점수\"] }}",
              "type": "string"
            },
            {
              "id": "333f9610-1b35-4a4e-a272-88d6bbf1ae20",
              "name": "WestZodiac",
              "value": "={{ $json.text[\"별자리 운세\"] }}",
              "type": "string"
            },
            {
              "id": "fac35e6d-8516-4e92-b164-72f4bfa22e2f",
              "name": "WestZodiacScore",
              "value": "={{ $json.text[\"별자리 운세 점수\"] }}",
              "type": "string"
            },
            {
              "id": "4d8cc7d5-64a1-4fc8-bcab-88c0638e510a",
              "name": "Daily_Weeky",
              "value": "={{ $json.text[\"오늘/이번 주 운세\"] }}",
              "type": "string"
            },
            {
              "id": "969ae13f-8f31-4a88-9318-0780826fd066",
              "name": "Daily_WeekyScore",
              "value": "={{ $json.text[\"오늘/이번 주 운세 점수\"] }}",
              "type": "string"
            },
            {
              "id": "d46b947d-95e8-4809-99dc-76d5cfd69881",
              "name": "Summary",
              "value": "={{ $json.text[\"총평 및 조언\"] }}",
              "type": "string"
            },
            {
              "id": "4b1a81f7-3e86-43ae-a0ba-313ed90faa60",
              "name": "SentMail",
              "value": "={{ $('userInputUpdate').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        352
      ],
      "id": "ca5d5b65-fbd0-4ac7-8eeb-39a5fd3ebbde",
      "name": "fieldEdit"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "userInputUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "objectProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userInputUpdate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sazooUpdate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "objectProcess": {
      "main": [
        [
          {
            "node": "fieldEdit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fieldEdit": {
      "main": [
        [
          {
            "node": "sazooUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}