codes/quests/06_storage_googleSheets.json
{
  "name": "06_storage_googleSheets",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4e03668-ce66-4902-b607-989be30b7ad5",
              "name": "news",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "18fc5e88-0a86-43a4-b0c7-89e2e442b1a9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "519fec63-44b6-4958-934f-b3911960f62b",
              "name": "candidates[0].content.parts[0].text",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        352
      ],
      "id": "c33da5df-8ef9-4bf6-80ee-a24db7dba630",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be52815b-85e8-4772-b29f-d8cdfe1aae9a",
              "name": "title",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"기사 제목\"] }}",
              "type": "string"
            },
            {
              "id": "5519d5ae-3c66-425e-8060-644b500ff04b",
              "name": "source",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"출처/언론사\"] }}",
              "type": "string"
            },
            {
              "id": "9091b1fa-8295-46e0-8d88-c86eb16c00b2",
              "name": "reporter",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"기자 이름\"] }}",
              "type": "string"
            },
            {
              "id": "b5344280-83ce-4ba7-85cf-ae373c8a8548",
              "name": "keyPoints",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"핵심 요약\"] }}",
              "type": "string"
            },
            {
              "id": "89286f60-3b61-4f32-899d-191ead454da9",
              "name": "category",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"카테고리\"] }}",
              "type": "string"
            },
            {
              "id": "8959eb2e-fc63-4379-b706-70f784bf6de1",
              "name": "keyword",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"핵심 키워드\"] }}",
              "type": "string"
            },
            {
              "id": "f72d97c5-df8c-44e1-b661-bfec7e6e883d",
              "name": "oneLineReview",
              "value": "={{ $json.candidates[0].content.parts[0].text[\"한줄평\"] }}",
              "type": "string"
            },
            {
              "id": "c3c74d34-11d9-4d46-abe8-21a61ca572f5",
              "name": "keyValue",
              "value": "={{ $('keyValueUrlUpdate').item.json.keyValue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        352
      ],
      "id": "84ab533e-2f52-4927-a302-c9421aeccca8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "44ca0ae8-c42d-48d8-96c7-10429d1c2702",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ Array.isArray($json.email) ? $json.email.join(',') : $json.email }}",
        "subject": "=test-{{ $('Edit Fields2').item.json.title }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>{{ $('Edit Fields2').item.json.title }}</title>\n    <!--[if gte mso 9]>\n    <xml>\n      <o:OfficeDocumentSettings>\n        <o:AllowPNG/>\n        <o:PixelsPerInch>96</o:PixelsPerInch>\n      </o:OfficeDocumentSettings>\n    </xml>\n    <![endif]-->\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f4f4f4;\">\n    <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n        <tr>\n            <td align=\"center\" style=\"padding: 20px 0;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"600\" style=\"background-color: #ffffff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); font-family: Arial, '돋움', Dotum, sans-serif;\">\n                    <!-- Header -->\n                    <tr>\n                        <td align=\"center\" style=\"padding: 40px 30px 20px; border-bottom: 1px solid #eeeeee;\">\n                            <h1 style=\"margin: 0; font-size: 28px; color: #1a1a1a; font-weight: 600; line-height: 1.4;\">\n                               {{ $('Edit Fields2').item.json.title }} \n                            </h1>\n                        </td>\n                    </tr>\n                    <!-- Meta Info -->\n                    <tr>\n                        <td style=\"padding: 20px 30px 10px;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                                <tr>\n                                    <td width=\"50%\" style=\"font-size: 14px; color: #555555;\"><strong>출처:</strong> {{ $('Edit Fields2').item.json.source }}</td>\n                                    <td width=\"50%\" align=\"right\" style=\"font-size: 14px; color: #555555;\"><strong>작성자:</strong> {{ $('Edit Fields2').item.json.reporter }}</td>\n                                </tr>\n                                 <tr>\n                                    <td width=\"50%\" style=\"padding-top: 8px; font-size: 14px; color: #555555;\"><strong>카테고리:</strong> {{ $('Edit Fields2').item.json.category }}</td>\n                                     <td width=\"50%\" align=\"right\" style=\"padding-top: 8px; font-size: 14px; color: #555555;\"><strong> </strong> </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <!-- Main Content -->\n                    <tr>\n                        <td style=\"padding: 20px 30px 30px;\">\n                            <p style=\"margin: 0; font-size: 16px; color: #333333; line-height: 1.6;\">\n                                {{ $('Edit Fields2').item.json.keyPoints }}\n                            </p>\n                        </td>\n                    </tr>\n                    <!-- One-Line Review -->\n                    <tr>\n                        <td style=\"padding: 0 30px 30px;\">\n                            <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"background-color: #f0f5ff; border-left: 4px solid #4a90e2; border-radius: 4px;\">\n                                <tr>\n                                    <td style=\"padding: 20px;\">\n                                        <p style=\"margin: 0; font-size: 16px; color: #002d6b; font-style: italic; line-height: 1.6;\">\n                                            \"{{ $('Edit Fields2').item.json.oneLineReview }}\"\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n                    <!-- Keywords -->\n                    <tr>\n                        <td style=\"padding: 0px 30px 40px;\">\n                             <p style=\"margin: 0; font-size: 14px; color: #333; line-height: 1.6;\">\n                                 <strong>주요 키워드:</strong>\n                             </p>\n                             {{ $('Edit Fields2').item.json.keyword }}\n                             </p>\n                        </td>\n                    </tr>\n                     <!-- Footer -->\n                    <tr>\n                        <td align=\"center\" style=\"padding: 20px 30px; background-color: #fafafa; border-top: 1px solid #eeeeee; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;\">\n                            <p style=\"margin: 0; font-size: 12px; color: #888888;\">\n                                &copy; 2025 Your Company. All rights reserved.\n                            </p>\n                        </td>\n                    </tr>\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        656
      ],
      "id": "84f128dd-7ae6-444d-85c1-d38a01964e63",
      "name": "Send a message",
      "webhookId": "19ca6fc1-984b-49cc-9fd5-169a4167bdb6",
      "credentials": {
        "gmailOAuth2": {
          "id": "DIOGucUK4lqfvmQR",
          "name": "jinh2kakao Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        656
      ],
      "id": "dd122a31-d09c-41e9-9e81-25b4643f16f7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "chatId": "8297276244",
        "text": "=- 제목: {{ $('Edit Fields2').item.json.title }},\n- 출처: {{ $('Edit Fields2').item.json.source }},\n- 작성자: {{ $('Edit Fields2').item.json.reporter }},\n- 카테고리: {{ $('Edit Fields2').item.json.category }},\n- 핵심요약: {{ $('Edit Fields2').item.json.keyPoints }},\n- 한줄평: {{ $('Edit Fields2').item.json.oneLineReview }},\n- 키워드: {{ $('Edit Fields2').item.json.keyword }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        912
      ],
      "id": "50e05f39-6121-4ce7-9893-f48404fa8a3d",
      "name": "Send a text message",
      "webhookId": "8255ae6e-689c-4820-9053-c35068bbcc8b",
      "credentials": {
        "telegramApi": {
          "id": "KIKzWEpf2iG9EOKg",
          "name": "n8n_jinh2kakao_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk",
          "mode": "list",
          "cachedResultName": "news_email_sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $('Edit Fields2').item.json.keyValue }}",
            "telegramSendYn": "Y"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        912
      ],
      "id": "385e216b-d48a-489a-8fb0-fae7e4af64ca",
      "name": "telegramSendYn",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk",
          "mode": "list",
          "cachedResultName": "news_email_sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $('keyValueUrlUpdate').item.json.keyValue }}",
            "emailSendYn": "Y"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        656
      ],
      "id": "6b3d72fc-61b0-4a0d-aa50-fc4faf14b9fb",
      "name": "emailSendYn",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk",
          "mode": "list",
          "cachedResultName": "news_email_sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 262525621,
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=262525621"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        656
      ],
      "id": "74228048-9fa5-4597-ac80-57a04a76bd24",
      "name": "getMailList",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk",
          "mode": "list",
          "cachedResultName": "email_sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $json.keyValue }}",
            "title": "={{ $json.title }}",
            "keyPoints": "=출처: {{ $json.source }},\n기자: {{ $json.reporter }},\n카테고리: {{ $json.category }},\n키워드: {{ $json.category }},\n내용: {{ $json.keyPoints }}",
            "oneLineReview": "={{ $json.oneLineReview }}",
            "emailSendYn": "N",
            "telegramSendYn": "N"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        352
      ],
      "id": "451207fa-967b-4b45-bc66-565fe5e71110",
      "name": "contentsUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 20년차 Product Owner, 여행 비즈니스 플랫폼 팀장(야놀자, 여기어때, 익스피디아, 트립닷컴 등), 채용 전문가 및 실무 전문가입니다.\n\n전달하는 **기사 내용**을 html로 전달하면 요약해줘.\n\n[요약 항목]\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n  - \\, \\n 같은 코드는 제외하고 응답.\n\n**[출력 예시 구조 - JSON]**\n{\n  \"기사 제목\": TEXT,\n  \"출처/언론사\": TEXT,\n  \"기자 이름\": TEXT,\n  \"핵심 요약\": TEXT,\n  \"카테고리\": TEXT,\n  \"핵심 키워드\": TEXT,\n  \"한줄평\": TEXT,\n}\n\n[기사내용]\n{{ $('Edit Fields').item.json.news }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        32,
        352
      ],
      "id": "fd555305-8d48-4a5b-bb38-47073bfd9dc1",
      "name": "geminiSummaryCreate",
      "credentials": {
        "googlePalmApi": {
          "id": "EXc8HVtldy9X0z9R",
          "name": "gemni_aistudio_apiKey_1017"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Daily 기사요약 서비스",
        "formDescription": "기사주소와 이메일 넣어주시면 기사를 요약하여 보내드리빈다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "fieldType": "textarea",
              "placeholder": "(ex: https://abcd.abcd.com)",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "f7fd7f49-e03b-41c1-8f7d-6399c80f304a",
      "name": "inputNewsUrl",
      "webhookId": "c9528b54-8865-4ed1-873b-e506efca6fa3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk",
          "mode": "list",
          "cachedResultName": "email_sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqnwLXHfSwU9BsxEji-2AMBox96xPvJEkDGz8U3FhDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyValue": "={{ $('inputNewsUrl').item.json.submittedAt }}",
            "URL": "={{ $('inputNewsUrl').item.json.URL }}"
          },
          "matchingColumns": [
            "keyValue"
          ],
          "schema": [
            {
              "id": "keyValue",
              "displayName": "keyValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "keyPoints",
              "displayName": "keyPoints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "oneLineReview",
              "displayName": "oneLineReview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emailSendYn",
              "displayName": "emailSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegramSendYn",
              "displayName": "telegramSendYn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        0
      ],
      "id": "642830a9-935f-4a6f-891d-ef53167c29b6",
      "name": "keyValueUrlUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VCPdMeFhC2V9diqs",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "keyValueUrlUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "contentsUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "emailSendYn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "telegramSendYn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emailSendYn": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getMailList": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contentsUpdate": {
      "main": [
        [
          {
            "node": "getMailList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "geminiSummaryCreate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inputNewsUrl": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keyValueUrlUpdate": {
      "main": [
        [
          {
            "node": "geminiSummaryCreate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e57997b-d215-458d-9797-885ed127b7df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07fa8df5807eeb509640aac98cd116c080a81f798af86561ee9fca5b74b98f54"
  },
  "id": "pwXdV0YvcNbCk83E",
  "tags": []
}