codes/quests/10_trigger_GoogleDrives_docs.json.json
{
  "name": "10_trigger_GoogleDrives_docs.json",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iSADflsEAUIN9vTKtz3y1seFIMt6x4WC",
          "mode": "list",
          "cachedResultName": "n8ns_triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iSADflsEAUIN9vTKtz3y1seFIMt6x4WC"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fadea2f3-b601-45d6-ad89-7b677c402cfe",
      "name": "Google Drive Trigger",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a57101c-2cc3-479a-a943-2aa9b4290f0b",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "document",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "48d60bc4-f1ac-4acf-8c04-f09b411e22d3",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한 줄(100자 이내)로 정리\n\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        864,
        96
      ],
      "id": "823ecaf2-f52e-47ed-b524-becd4f96f1df",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "4MyCsxNCns2s6sQe",
          "name": "jinh2kakao Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15nr9tr-F690x0Ol1lfxj-7Wkfc1BVwhBggHV8WgbaJo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        96
      ],
      "id": "f1216afa-f8a3-4e71-b8ab-450b0323057f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pEaD2eovnJOnPETT",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1O806SbS_GMhUxn62p0W9tkiZq7qd1hyCgGG3wbhu-dQ/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O806SbS_GMhUxn62p0W9tkiZq7qd1hyCgGG3wbhu-dQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "입력날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}"
          },
          "matchingColumns": [
            "입력날짜"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력날짜",
              "displayName": "입력날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일종류",
              "displayName": "파일종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "링크",
              "displayName": "링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1200,
        96
      ],
      "id": "46544c81-b081-4538-a668-4c0027ef8b06",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pEaD2eovnJOnPETT",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "주요 긍정 피드백"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "35985ae6-2cc4-42ed-aa8b-f59ee67bcfd2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1T1Vo3J8tsZJQ1L8JCdfBUBR7owz_4M3d",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1T1Vo3J8tsZJQ1L8JCdfBUBR7owz_4M3d"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        96
      ],
      "id": "b4381431-fb5d-4e13-810c-7e178b6936d7",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "80bb9b6c-e7ac-44bd-9f77-4a65f4bfa45d",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "eyXXvazddgS3aSsh",
          "name": "jinh2kakao Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한 줄(100자 이내)로 정리\n\n{{ $json.content }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "945ede90-cf07-4e6b-b188-c4ffdb18a300",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "4MyCsxNCns2s6sQe",
          "name": "jinh2kakao Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1O806SbS_GMhUxn62p0W9tkiZq7qd1hyCgGG3wbhu-dQ/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O806SbS_GMhUxn62p0W9tkiZq7qd1hyCgGG3wbhu-dQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "입력날짜": "={{ $('Google Drive Trigger').item.json.modifiedTime }}",
            "파일종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "한 줄 정리": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [
            "입력날짜"
          ],
          "schema": [
            {
              "id": "입력날짜",
              "displayName": "입력날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일종류",
              "displayName": "파일종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "링크",
              "displayName": "링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        -96
      ],
      "id": "1c441947-1fd4-4858-8b88-d963aadf6865",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pEaD2eovnJOnPETT",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1T1Vo3J8tsZJQ1L8JCdfBUBR7owz_4M3d",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1T1Vo3J8tsZJQ1L8JCdfBUBR7owz_4M3d"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1200,
        -96
      ],
      "id": "b0e20a0d-4242-4411-9de2-89214edba9a8",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Message a model1": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n  \"요약\": \"탁월한 기획, 빠른 실행 및 전문 기술력, 데이터 기반 성과 개선이 핵심 긍정 피드백입니다.\"\n}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "\"종합 미디어 에이전시의 TV, 라디오, 인쇄 광고 집행/제작 및 컨설팅 서비스 맞춤형 가격 정책.\""
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60a8a6a8-2b78-4fc3-afdc-4676fcfb68ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd771ab964ea331a17cbcd4c1eb0c63cb4a42a5615d415e137abf584f1e13189"
  },
  "id": "ntB2VwTxnJ6vWMAS",
  "tags": []
}