codes/quests/12_Controls_switchs_Files.json
{
  "name": "12_Controls_switchs_Files",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jfahdO_zJcuZmM_Qh25nlakCdyw2M2y8",
          "mode": "list",
          "cachedResultName": "triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jfahdO_zJcuZmM_Qh25nlakCdyw2M2y8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4978c07a-c773-4f70-b9a5-8f1c0daff6af",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "b6fc12b6-de09-4864-b438-583a4352ef2f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36e23893-2389-42dd-859b-3dfdc7e1643e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33bc3322-2c8e-4505-8113-d791cfa79e02",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1795862-2a2e-4e1c-beb8-6e50c1bbb98f",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "349a4c36-056c-4822-b48a-7de80a3bc753",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d320c178-e489-4acb-9c51-4226e071255b",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b2d57fa-1961-4b44-b24f-4f9f2ad579d4",
                    "leftValue": "={{ $json.fullFileExtension }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7abb8d99-a40d-444b-a31d-903bc8b80052",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90e95f62-6b5b-4da3-a1bc-73ca9a8dc3b9",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d62d892b-8601-40b5-9cab-eebea2fb98ad",
                    "leftValue": "={{ $json.fullFileExtension }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d12bb025-2fdf-41e0-ac84-a9e8a94597d4",
                    "leftValue": "={{ $json.fullFileExtension }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "34161e4b-8970-445d-9adf-f96da4ab7ce1",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        -304
      ],
      "id": "663de225-d939-41aa-99bf-63bc43d873d7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        48
      ],
      "id": "687ca8f7-6acb-4484-9201-f312fbc04c7f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=https://docs.google.com/spreadsheets/d/1a-w_f1MUGfl7LFYH1sb_Zr98zgZrQH_lwkbhlte8Amo/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O806SbS_GMhUxn62p0W9tkiZq7qd1hyCgGG3wbhu-dQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일url": "={{ $('Google Drive Trigger').item.json.webViewLink }}",
            "생성일시": "={{ $('Google Drive Trigger').item.json.modifiedTime }}",
            "파일유형": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "요약내용": "={{ $json.summary }}"
          },
          "matchingColumns": [
            "파일url"
          ],
          "schema": [
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "생성일시",
              "displayName": "생성일시",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일유형",
              "displayName": "파일유형",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일url",
              "displayName": "파일url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "moveFileId",
              "displayName": "moveFileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "요약내용",
              "displayName": "요약내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1824,
        208
      ],
      "id": "7b8d70c8-5f60-4986-8043-ce5268a823c1",
      "name": "historyUpdate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pEaD2eovnJOnPETT",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=한줄로 요약해줘.\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1328,
        -304
      ],
      "id": "33578445-dd68-45ea-88d6-82e21229c98c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "4MyCsxNCns2s6sQe",
          "name": "jinh2kakao Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb39f252-c806-4e64-9911-2b11c5c36911",
              "name": "text",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -304
      ],
      "id": "51164bdb-8d46-4320-b7bd-1197122ae17b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1K7RmZ7yzINOrCBLf7TAW4zeHMOA8bmLXlIe8MhhUF-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -112
      ],
      "id": "eb6841f6-bab1-4225-9bfa-9dc30d5fd279",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pEaD2eovnJOnPETT",
          "name": "jinh2kakao Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_number"
            },
            {
              "fieldToAggregate": "refer : https://github.com/yoju-lab/koreatech_RPAs_GenAI/wiki"
            },
            {
              "fieldToAggregate": "col_2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        -112
      ],
      "id": "0a646910-0be9-4635-a5f9-bac3dfb399c4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "909694dd-2098-4643-939d-353c18e93b66",
              "name": "text",
              "value": "={{ $json.row_number }}, {{ $json['com/yoju-lab/koreatech_RPAs_GenAI/wiki'] }}, {{ $json.col_2 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -112
      ],
      "id": "ef7a9dba-b8e6-41d0-8056-d805400de670",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "서비스 카테고리"
            },
            {
              "fieldToAggregate": "서비스명"
            },
            {
              "fieldToAggregate": "제공 기업"
            },
            {
              "fieldToAggregate": "수(N)"
            },
            {
              "fieldToAggregate": "NPS 점수"
            },
            {
              "fieldToAggregate": "추천 고객 (9-10점)"
            },
            {
              "fieldToAggregate": "중립 고객 (7-8점)"
            },
            {
              "fieldToAggregate": "비추천 고객 (0-6점)"
            },
            {
              "fieldToAggregate": "CSAT (5점 만점)"
            },
            {
              "fieldToAggregate": "주요 긍정 피드백"
            },
            {
              "fieldToAggregate": "주요 개선 요청"
            },
            {
              "fieldToAggregate": "대표 고객 응답"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        48
      ],
      "id": "ba34f4ed-4de7-4801-bd1a-0043c9ec1d17",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "981698ba-8d34-4c3b-96ec-ee67e505449d",
              "name": "text",
              "value": "={{ $json['서비스 카테고리'] }}, {{ $json['서비스명'] }}, {{ $json['제공 기업'] }}, {{ $json['수(N)'] }}, {{ $json['NPS 점수'] }}, {{ $json['추천 고객 (9-10점)'] }}, {{ $json['중립 고객 (7-8점)'] }}, {{ $json['비추천 고객 (0-6점)'] }}, {{ $json['CSAT (5점 만점)'] }}, {{ $json['주요 긍정 피드백'] }}, {{ $json['주요 개선 요청'] }}, {{ $json['대표 고객 응답'] }}, ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        48
      ],
      "id": "1cd84bf4-c562-4d75-810f-73bd7d0fa6bd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f616cff-5639-44d9-a799-5dd57a31456f",
              "name": "summary",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -304
      ],
      "id": "ddae2ef8-d727-4244-bfbc-adf04435af72",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "36e23893-2389-42dd-859b-3dfdc7e1643e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33bc3322-2c8e-4505-8113-d791cfa79e02",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1795862-2a2e-4e1c-beb8-6e50c1bbb98f",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "349a4c36-056c-4822-b48a-7de80a3bc753",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d320c178-e489-4acb-9c51-4226e071255b",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4b2d57fa-1961-4b44-b24f-4f9f2ad579d4",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "70d0a3af-992d-4c1b-a501-5e828ee81616",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "90e95f62-6b5b-4da3-a1bc-73ca9a8dc3b9",
                    "leftValue": "={{ $json['파일유형'] }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9531bddf-4489-464f-8878-fc101eddd228",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c4650db7-6c62-40a2-85cf-1487d3a2f9f8",
                    "leftValue": "={{ $('Google Drive Trigger').item.json.fullFileExtension }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2128,
        0
      ],
      "id": "591e10ca-6090-45d3-b7e0-7aa2a9c40774",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wFoNe66DmNaWLPmhhFmmV8C6Bh9OpKvj",
          "mode": "list",
          "cachedResultName": "sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wFoNe66DmNaWLPmhhFmmV8C6Bh9OpKvj"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        -320
      ],
      "id": "3cc5358b-c050-40dc-ad3f-a7e31ec1d1a6",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1pejfcpu0w50s6qOf50V-MMqPjXO2i5Ij",
          "mode": "list",
          "cachedResultName": "docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1pejfcpu0w50s6qOf50V-MMqPjXO2i5Ij"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        -512
      ],
      "id": "2a0067a7-cc4b-4dd8-8992-4b4d18ef5679",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1y_KSv9PVojac3kAdMQXrehN-A1LwRSuC",
          "mode": "list",
          "cachedResultName": "csvs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1y_KSv9PVojac3kAdMQXrehN-A1LwRSuC"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        64
      ],
      "id": "d0242072-4903-4ae0-a540-7ed0b2f98640",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dtXzcgJG2STmy-n4Ezs6atIRP7qwv6Kr",
          "mode": "list",
          "cachedResultName": "pdfs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dtXzcgJG2STmy-n4Ezs6atIRP7qwv6Kr"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        -128
      ],
      "id": "c9de2c11-08e4-46dd-9ab2-d8b0f99a4b43",
      "name": "Move file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1CLkOjgi3szZ6S35N63sngO7MVLuou17D",
          "mode": "list",
          "cachedResultName": "etcs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1CLkOjgi3szZ6S35N63sngO7MVLuou17D"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2512,
        448
      ],
      "id": "376072ee-78ca-4c54-baf6-387573848793",
      "name": "Move file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=다음 내용을 분석하여 반드시 3개 카테고리 중에 하나로 출력해주세요.\n\n {{ $json['요약내용'] }}\n\n[출력 카테고리]\n- politics\n- culture\n- economy"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2512,
        256
      ],
      "id": "17c8441c-fe5b-4027-a65f-a978d6d393bd",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "4MyCsxNCns2s6sQe",
          "name": "jinh2kakao Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "politics",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "77ba45d6-6ac2-49f2-81b2-2180d6e80969"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ab5385bd-5b5f-43b3-8091-8d8e6591b64a",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "culture",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5afb2d9e-bb8d-4908-88ca-b87d3bbe1284",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "economy",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2864,
        256
      ],
      "id": "9c52c1a0-e53c-40da-a450-956d0deeaeee",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1CX8K9mgzj10Ubtmc1_61qLzzDakpCyiq",
          "mode": "list",
          "cachedResultName": "politics",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1CX8K9mgzj10Ubtmc1_61qLzzDakpCyiq"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3120,
        -16
      ],
      "id": "84a4713a-be37-44bb-9cbc-6d1df082382f",
      "name": "Move file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ZxxOZZ3JK50VYTfxw7ERhk1ZGWTQIihp",
          "mode": "list",
          "cachedResultName": "culture",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZxxOZZ3JK50VYTfxw7ERhk1ZGWTQIihp"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3120,
        272
      ],
      "id": "802faa09-b993-459d-9fdd-b3acc31fa551",
      "name": "Move file6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Dj2HcmSRG0xTQcsXNFyB_bTxY2gisKJ9",
          "mode": "list",
          "cachedResultName": "economy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Dj2HcmSRG0xTQcsXNFyB_bTxY2gisKJ9"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3120,
        416
      ],
      "id": "2f7f4901-b250-4be8-9e6b-7c587810396e",
      "name": "Move file7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3nhYXSjneMsnD9gx",
          "name": "jinh2kakao Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "historyUpdate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "historyUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "historyUpdate": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "historyUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Move file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03ea5cc6-4c33-45f1-8b96-1ad78d508d14",
  "meta": {
    "instanceId": "cd771ab964ea331a17cbcd4c1eb0c63cb4a42a5615d415e137abf584f1e13189"
  },
  "id": "1p0WdxDhBFbbEFAv",
  "tags": []
}