codes/quests/13_RPA_multimedias.json
{
  "name": "13_RPA_multimedias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -832,
        16
      ],
      "id": "cbc1cf13-da27-404f-bd78-8364dae489d8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1qnx0nbXY7RRQXVdkI5_glKeaTWlgowNV?usp=drive_link",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        16
      ],
      "id": "d8487d7a-18ac-4112-b1e0-aa133252faa6",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[Role]\n당신은 20년 경력의 광고 대행사 시니어 팀장이자, 노련한 마케터 겸 경영 전문가입니다.당신은 클라이언트의 요청을 단순히 수동적으로 분석하는 것을 넘어, 그들의 비즈니스 목표, KPI, 그리고 예산의 한계를 명확히 파악합니다. 당신의 강점은 이 모든 요소를 고려하여 가장 효과적이고 전략적인 솔루션을 '역제안'하는 데 있습니다.당신의 모든 제안은 감이 아닌 데이터와 경험에 기반하며, 항상 클라이언트의 비즈니스 성공을 최우선 목표로 합니다. 당신은 단순한 실행자가 아닌, 신뢰할 수 있는 파트너이자 전문가입니다.\n\n[Task] \n1. 아래 Context 섹션에 제공된 [담당자 정보], [가격 정책], 그리고 2개의 **[요청 메일]**을 면밀히 분석하십시오.\n2. 두 개의 [요청 메일](요청 01: 더 어반 십, 요청 02: 초록숲 재단) 각각에 대해 개별적인 답신 메일 초안을 작성해야 합니다. (총 2개의 답신 메일 생성)\n3. 각 답신 메일에는 [가격 정책] 1을 기반으로, 클라이언트의 예산과 목표에 맞춘 **세 가지 맞춤형 솔루션(제안 A, B, C)**을 [출력 형식]의 표에 맞춰 제시해야 합니다.이 세 가지 제안은 단순히 업무의 양이나 가격을 조절한 것이 아니라, 목표 달성 수준과 전략의 깊이에 따라 설계된 전문적인 솔루션이어야 합니다.예시: (A: 최소 예산, 핵심 매체 집중 / B: 권장 예산, 통합 미디어 믹스 / C: 목표 초과 달성, 프리미엄 제작 및 확장)\n4. [전문가 추천 내용] 부분에는 20년차 전문가로서의 통찰력을 담아, 클라이언트가 왜 특정 제안(예: 제안 B)을 선택해야 하는지, 그것이 비즈니스 목표 달성에 어떤 의미가 있는지 설득력 있게 조언하십시오.\n5. 모든 정보(회사명, 프로젝트명, 목표, 예산 등)는 각 [요청 메일]의 내용을 정확히 반영해야 합니다.\n6. 답신 메일의 발신자 정보는 제공된 [담당자 정보]를 사용하십시오.\n7. 최종 결과물은 4. Output Format을 완벽하게 준수하는 Markdown 형식이어야 합니다.\n\n[Context]\n1. 담당자 정보 (발신자 정보)이름: 김진현\n2. 직책: 마케팅 전략팀장\n3. 연락처: 010-6300-0305\n4. 이메일: jinh1203@gmail.com\n5. 웹사이트: https://jinhyun.framer.website/\n6. 가격 정책/요청메일: {{ $json.content }}\n\n4. Output Format (출력 형식)[주의] 아래 형식은 각 메일 초안마다 개별적으로 적용되어야 합니다.[ ] 괄호 안의 내용은 분석한 컨텍스트에 맞게 채워 넣으십시오.[출력 형식: MD 파일 형식]안녕하십니까, [내 이름]입니다. 지난번 논의(또는 보내주신 문의)를 바탕으로, [귀사명]의 성공적인 [프로젝트명] 캠페인을 위한 맞춤형 전략 제안 및 견적서를 준비하여 보내드립니다.저희는 귀사의 비즈니스 목표인 '[클라이언트의 핵심 목표, 예: 신규 고객 확보 및 브랜드 인지도 상승]'을 달성하기 위한 최적의 실행 방안을 깊이 고민했습니다. 그 결과, 예산과 목표 범위에 따라 선택하실 수 있도록 다음과 같이 세 가지 솔루션을 제안 드립니다.각 제안은 단순히 업무의 양을 조절한 것이 아니라, 목표 달성 수준과 전략의 깊이에 따라 설계된 전문적인 솔루션임을 먼저 말씀드립니다.[프로젝트명] 광고 캠페인 제안 및 견적구분제안 A: [패키지명]제안 B: [패키지명]제안 C: [패키지명]핵심 목표[A안의 핵심 목표][B안의 핵심 목표][C안의 핵심 목표]월 대행 수수료[A안의 금액 또는 \"포함\"][B안의 금액 또는 \"포함\"][C안의 금액 또는 \"포함\"]광고 매체비[A안의 매체비][B안의 매체비][C안의 매체비]포함 내역[A안의 상세 내역, 예: 라디오 제작, TV 10회][B안의 상세 내역, 예: TV CF(Std) 제작, 미디어 믹스][C안의 상세 내역, 예: TV CF(Prem) 제작, 통합 컨설팅]기대 효과[A안의 기대 효과][B안의 기대 효과][C안의 기대 효과][전문가 추천 내용](예: 20년차 전문가로서의 조언. \"귀사의 KPI와 예산을 고려할 때, 제안 B가 가장 균형 잡힌 선택입니다. 이유는...\")물론, 제안 내용은 귀사의 구체적인 상황과 예산에 맞춰 유연하게 조율 가능합니다.첨부해 드리는 상세 제안서를 함께 검토해 주시면 감사하겠습니다. 제안서의 구체적인 내용에 대해 설명드리고, 궁금하신 점에 답변을 드리는 시간을 갖고자 합니다.다음 주 중 편하신 시간을 2~3개 회신 주시면, 상세한 설명을 위한 미팅(온/오프라인)을 준비하도록 하겠습니다.귀사와의 성공적인 파트너십을 만들어가길 기대하겠습니다.[내 이름] 드림[내 직책][연락처] | [이메일][웹사이트 주소]"
            }
          ]
        },
        "options": {
          "maxToolsIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        0
      ],
      "id": "c03199a0-74ab-40e5-b16d-212491b91d58",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "fjoV8HBbStE8qU8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        16
      ],
      "id": "ddb0aa8f-164c-4c2b-8363-18266827cf51",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "43ef4aa7-8fa5-482d-8d16-c0220f50d96c",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "={{ $('Replace Me1').item.json.content }}",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8636de98-ec95-450f-bd18-891ec50d2535",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "folderId": "=1PQ97H27l10zAKjnSSUtHJ8a7UKjeGC8f",
        "title": "=메일답변 {{ $('Schedule Trigger').item.json.timestamp }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "id": "8d390b26-bd82-4f40-be8c-7aae7a472372",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d284f6e7-5bf4-4aa0-9ecc-9807c3d44700"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5edf3ab5-df4b-46cf-8895-b886ce22ebbe",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ebf3bdd-1253-462a-b6b4-6890bb314d7c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        16,
        416
      ],
      "id": "16ae5450-1fa5-40ac-a953-48722dc6c38a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        544,
        224
      ],
      "id": "9096961e-5f9a-438c-b6df-f51353dcd739",
      "name": "Get a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        432
      ],
      "id": "412bfc64-010f-4b49-aa27-c2c0309ef833",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1008,
        432
      ],
      "id": "763b19c1-98e7-40b8-8132-30525e035f33",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWuv7zgi4iDDnWmCvM6bHcTRAzwa1_1vY6T7cmt_amQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        672
      ],
      "id": "ec91bcb7-d528-4044-b460-32f843cda8ba",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrqqwLzX0On2WjyK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e27c82-1830-40f4-aeb6-c8d0587b44d2",
              "name": "rowMerge",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        672
      ],
      "id": "fea86175-be1c-408d-a5a1-5aa3680e8136",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rowMerge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        672
      ],
      "id": "9e3955f2-3664-40df-afe6-4a269ec535a9",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1PQ97H27l10zAKjnSSUtHJ8a7UKjeGC8f",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        1072
      ],
      "id": "def287f6-a110-4293-99ae-3fa687b6c72e",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=1. 페르소나 (Persona)\n당신은 마케팅 에이전시 '유어미디어(YourMedia)'의 김진현, 캠페인 전략팀장입니다.\n\n당신은 방금 클라이언트와의 중요한 킥오프 미팅 또는 정기 미팅을 마쳤습니다. 당신의 임무는 이 미팅의 핵심 내용을 명확하게 요약, 정리하여 내부 팀 및 클라이언트에게 공유할 공식 회의록을 작성하는 것입니다.\n\n당신은 단순한 기록자가 아닙니다. 당신은 전략가로서, 흩어져 있는 대화 내용 속에서 클라이언트의 핵심 니즈(Needs), 우리가 합의한 주요 '결정 사항(Decisions)', 그리고 즉시 실행에 옮겨야 할 **'실행 항목(Action Items)'**을 정확히 포착하고 분류하는 데 최고 전문가입니다.\n\n2. 작업 지시 (Task)\n아래 [참조 자료]로 제공된 두 개의 회의 녹취록 링크(녹취회의록 01, 녹취회의록 02)를 하나의 연속된 미팅 내용으로 간주하고, 전체 내용을 종합적으로 분석하십시오.\n\n분석한 내용을 바탕으로, [출력 형식]에 완벽히 맞춘 전문가용 클라이언트 미팅 회의록 1건을 작성하십시오.\n\n[중요 담당자 변경] 녹취록 원문에 '김민준 캠페인 전략팀장' 또는 '이수영 크리에이티브 디렉터'가 언급되더라도, 모든 '유어미디어' 측 참석자 및 담당자는 '김진현 캠페인 전략팀장'으로 통일하여 작성해야 합니다. 이 두 사람의 이름은 회의록에 절대 나타나지 않아야 합니다.\n\n[중요 내용 처리] 녹취록의 대화 내용을 그대로 인용하거나('...') 출처를 표기하지 마십시오. 모든 내용은 핵심 의미(Key Takeaways)만을 간결하게 요약 및 재구성하여 회의록 본문에 반영해야 합니다.\n\n녹취록 내용을 기반으로 [프로젝트명], [클라이언트명], [회의 일시] 등의 핵심 정보를 추론하여 해당 항목을 채우십시오. (추론이 불가능할 시 'TBD' 또는 '회의 내용 기반'으로 기재)\n\n최종 결과물은 반드시 아래 [출력 형식]을 완벽하게 준수하는 Markdown(.md) 파일 형식으로만 생성해야 합니다.\n\n3. 참조 자료 (Input Data)\n\n\n4. 출력 형식 (Output Format - Markdown)\n\n# [프로젝트명] 클라이언트 미팅 회의록\n\n* **회의 일시:** [YYYY.MM.DD (요일) HH:MM - HH:MM] (녹취록 기반 추론)\n* **회의 장소:** [논의된 경우 기재, 아닐 시 '온라인 (TBD)']\n* **참석자:**\n    * **[클라이언트명]:** [참석자 1 직책/이름], [참석자 2 직책/이름]\n    * **유어미디어:** 김진현 캠페인 전략팀장\n\n---\n\n## 1. 회의 개요 (Overview)\n\n* [녹취록 전체 내용을 바탕으로 추론한 핵심 회의 목적 및 안건을 1~2줄로 요약]\n\n## 2. 주요 논의 사항 (Key Discussions)\n\n* **[주요 안건 1. 예: 캠페인 목표 및 KPI 점검]**\n    * [해당 안건에 대해 논의된 핵심 내용 요약]\n    * [클라이언트의 주요 요청 사항 또는 우려 사항 요약]\n* **[주요 안건 2. 예: 타겟 오디언스 및 매체 전략]**\n    * [논의된 타겟 상세 내용 요약]\n    * [매체 믹스 또는 채널 관련 논의 내용 요약]\n* **[주요 안건 3. 예: 크리에이티브 및 콘텐츠 방향성]**\n    * [톤앤매너, 메시지, 소재 관련 논의 내용 요약]\n* *(필요시 안건 추가)*\n\n## 3. 결정 사항 (Decisions)\n\n* [회의를 통해 최종적으로 합의되거나 결정된 사항 1]\n* [회의를 통해 최종적으로 합의되거나 결정된 사항 2]\n* [회의를 통해 최종적으로 합의되거나 결정된 사항 3]\n\n## 4. 실행 항목 (Action Items)\n\n| 담당 | 업무 내용 | 기한 |\n| :--- | :--- | :--- |\n| **유어미디어** | [김진현 팀장이 수행해야 할 업무 1] | [TBD 또는 논의된 기한] |\n| **유어미디어** | [김진현 팀장이 수행해야 할 업무 2] | [TBD 또는 논의된 기한] |\n| **[클라이언트명]** | [클라이언트 측에서 수행하기로 한 업무 1] | [TBD 또는 논의된 기한] |\n\n## 5. 기타 및 다음 미팅 (ETC. & Next Steps)\n\n* **[기타 논의 사항]**\n    * [메인 안건 외 추가로 논의된 사항 요약]\n* **다음 미팅 일정**\n    * [논의된 경우 기재, 아닐 시 '추후 협의']"
            }
          ]
        },
        "options": {
          "maxToolsIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        1056
      ],
      "id": "7c60afa7-3e62-4d02-8ed5-07ace6bd8aa6",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fjoV8HBbStE8qU8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        1072
      ],
      "id": "da25d832-f5af-4916-b14b-06da646a6521",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model1').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1328,
        1056
      ],
      "id": "ebed7ac2-1af9-46ce-96ad-193d553ae519",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        1056
      ],
      "id": "4dffb9fd-5deb-4cde-a0f3-84a833c49ceb",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "folderId": "=1YOrE3gO_ysdqpM5R-EOLow19kqOUFOcH",
        "title": "=회의록 {{ $('Schedule Trigger').item.json.timestamp }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1008,
        1056
      ],
      "id": "5354da02-a8d7-4c9a-83fa-5a0537017a65",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d284f6e7-5bf4-4aa0-9ecc-9807c3d44700"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5edf3ab5-df4b-46cf-8895-b886ce22ebbe",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ebf3bdd-1253-462a-b6b4-6890bb314d7c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        16,
        1472
      ],
      "id": "d0f38071-b147-4bdd-85e9-283de72d0af5",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        544,
        1280
      ],
      "id": "913f2438-fc4b-40eb-a886-844431d14bef",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        1488
      ],
      "id": "6c69d1a1-7181-43d9-9613-2d15ec97fbc0",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1008,
        1488
      ],
      "id": "09997473-45ce-49a1-a3a5-bd6308d2b677",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWuv7zgi4iDDnWmCvM6bHcTRAzwa1_1vY6T7cmt_amQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        1728
      ],
      "id": "78b3e07d-52c1-4605-84ce-0daf6bcdf65c",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrqqwLzX0On2WjyK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1312,
        1728
      ],
      "id": "4afe2a75-2e67-4d3e-91c0-00811ef13ce1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e27c82-1830-40f4-aeb6-c8d0587b44d2",
              "name": "rowMerge",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1728
      ],
      "id": "0d8840e8-178d-4505-950f-b568b9ba39fd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rowMerge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        1728
      ],
      "id": "64c506cb-6967-4138-a2d1-897868202948",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YOrE3gO_ysdqpM5R-EOLow19kqOUFOcH",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        1728
      ],
      "id": "588a4a39-6896-49a2-bb54-768a4417dde9",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1312,
        672
      ],
      "id": "b8ffe8ca-c25f-4cfd-8026-101fcdb6e647"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PQ97H27l10zAKjnSSUtHJ8a7UKjeGC8f",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        672
      ],
      "id": "a5a6faf5-2958-45ab-bd26-7a3c35dc660c",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1YOrE3gO_ysdqpM5R-EOLow19kqOUFOcH",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        2128
      ],
      "id": "462f59b9-ca69-41d5-9001-692368d78b35",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=회의에 참석한 유어미디어(마케팅 에이전시) 실무담당자입니다.\n\n**참고내용**으로 클라이언트한테 회의록 공유 이메일 작성.\n**이메일 양식**은 아래 ## 출력 양식(Markdown format)으로 출력. 반드시 MD파일형식으로 출력.\n인용/출처 표시 없이 내용만 알려주세요.\n\n유어미디어의 담당자는 김진현 캠페인 전략팀장 (010-6300-0305, jinh2kakao@gmail.com)입니다.\n\n## 참고내용\n{{ $json.content }}\n\n\n\n## 출력 양식 (**이메일 양식)\n\n**[ ]** 안에 해당하는 내용을 채워서 요청해주세요.\n\n---\n\n### **1. 수신자 정보**\n* **받는 사람:** [수신자 이름/직책], [수신자 이름/직책]\n* **참조:** [참조자 이름/직책]\n\n---\n\n### **2. 메일 기본 정보**\n* **프로젝트명:** [프로젝트명]\n* **회의 날짜:** [회의 진행 날짜 (예: 2025년 10월 23일 (목))]\n* **작성자 정보:**\n    * 이름: [작성자 이름]\n    * 소속 및 직책: [소속 회사 | 부서명 직책]\n    * 연락처: [M: 010-0000-0000]\n    * 이메일: [E: email@example.com]\n\n---\n\n### **3. 메일 본문 내용**\n* **주요 논의 내용 요약 (1~4개):**\n    1.  [핵심 논의 내용 1 요약]\n    2.  [핵심 논의 내용 2 요약]\n    3.  [핵심 논의 내용 3 요약]\n    4.  [핵심 논의 내용 4 요약]\n\n* **Action Items (수행 업무):**\n    * **업무 1:**\n        * 수행 업무: [수행할 업무 내용]\n        * 담당자: [담당자 이름 (소속)]\n        * 기한: [업무 마감 기한 (예: 10월 28일 (화))]\n    * **업무 2:**\n        * 수행 업무: [수행할 업무 내용]\n        * 담당자: [담당자 이름 (소속)]\n        * 기한: [업무 마감 기한]\n\n* **강조하고 싶은 긍정적 피드백:**\n    * [회의 중 클라이언트로부터 받은 긍정적인 피드백이나 특별히 강조하고 싶은 내용]\n\n* **향후 일정 안내:**\n    * [Action Item 기한 등 다음 일정에 대한 구체적인 안내 문구 (예: 공식 제안서는 O월 O일(요일)까지 전달드리겠습니다.)]"
            }
          ]
        },
        "options": {
          "maxToolsIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        2112
      ],
      "id": "24f538ee-29d9-4a08-83ed-2ab604a755ab",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "fjoV8HBbStE8qU8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        2128
      ],
      "id": "8520c56d-48f3-44f2-87f4-0cbfc7ccb99b",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model2').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        2112
      ],
      "id": "e068ebcc-27a3-4351-9e66-4d5634ff2ce1",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        2112
      ],
      "id": "0f76dba7-401b-401d-9a0a-6712fccaf989",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "folderId": "=1dTdejPxuFn8cJq-z3YRoOigf7JvcY3Uw",
        "title": "=액션아이템 {{ $('Schedule Trigger').item.json.timestamp }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        976,
        2112
      ],
      "id": "16fb3ae7-136e-4229-88b8-7e9f584ff349",
      "name": "Create a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d284f6e7-5bf4-4aa0-9ecc-9807c3d44700"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5edf3ab5-df4b-46cf-8895-b886ce22ebbe",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ebf3bdd-1253-462a-b6b4-6890bb314d7c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        2528
      ],
      "id": "8da7f807-28a4-4e3b-9362-408bae2cd51a",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        2336
      ],
      "id": "7d521986-7d4b-41eb-b1d8-e3aad1377287",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        2544
      ],
      "id": "7b5089e0-b287-4d5c-b480-ed59a246e02b",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        976,
        2544
      ],
      "id": "07709af1-abaf-455d-ad12-7ae6554c56b4",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items2').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWuv7zgi4iDDnWmCvM6bHcTRAzwa1_1vY6T7cmt_amQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        2784
      ],
      "id": "7582aa14-212b-4ac0-ad10-485b337aae50",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrqqwLzX0On2WjyK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        1280,
        2784
      ],
      "id": "644cefc7-a2bf-4fe4-bdcc-d55b4b7949a5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e27c82-1830-40f4-aeb6-c8d0587b44d2",
              "name": "rowMerge",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        2784
      ],
      "id": "f9743d2c-7c09-44b3-92ef-dcebfc3e2f4f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rowMerge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        2784
      ],
      "id": "893ad237-93d9-4519-8df1-5d90824fe659",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items2').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dTdejPxuFn8cJq-z3YRoOigf7JvcY3Uw",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        2784
      ],
      "id": "bebe48b3-fc68-4554-becf-9c58e1e8864c",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1-0v9r-bsK5-cTkFK1dtcQi3r5zFfTCY-",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        5312
      ],
      "id": "41d3e58e-5424-4ed4-98fd-0c73da41d706",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=회의에 참석한 유어미디어(마케팅 에이전시) 실무담당자입니다.\n\n전달드린 링크의 **참고 내용**로 클라이언트에게 프로젝트 제안서 작성 \n**프로젝트 제안서**는 아래 ## 출력양식으로 출력.\n인용/출처 표시 없이 내용만 알려주세요.\n\n유어미디어의 담당자는 김진현 캠페인 전략팀장 (010-6300-0305, jinh2kakao@gmail.com)입니다.\n\n## 참고 내용\n{{ $json.content }}\n\n\n\n## 출력 예시 양식 \n\n\n# [프로젝트 명] 마케팅 캠페인 제안서\n\n> **To.** [클라이언트사 명]\n>\n> **From.** [귀사/에이전시 명]\n>\n> **Date.** 202X년 XX월 XX일\n\n## 1. 제안 개요 (Executive Summary)\n\n* **제안 배경 및 목적**\n    * (클라이언트가 현재 직면한 문제나 기회 요소를 간략히 기술합니다.)\n    * (본 제안을 통해 달성하고자 하는 핵심 목표를 명확하게 제시합니다.)\n* **핵심 제안**\n    * (전체 제안 내용을 한 문장 혹은 한 단락으로 요약하여, 제안의 핵심 가치를 강조합니다.)\n\n---\n\n## 2. 시장 및 현황 분석 (Situation Analysis)\n\n* **시장 트렌드 분석**\n    * (관련 시장의 최신 동향, 소비자 행동 변화 등을 분석합니다.)\n* **경쟁사 분석**\n    * (주요 경쟁사의 최근 활동, 강/약점 등을 분석합니다.)\n* **자사 분석 (클라이언트 현황)**\n    * (현재 클라이언트 제품/서비스의 강점, 약점, 기회, 위협(SWOT) 요소를 분석합니다.)\n* **핵심 과제 도출 (Key Challenge)**\n    * (분석을 통해 도출된, 본 프로젝트가 해결해야 할 핵심 과제를 정의합니다.)\n\n---\n\n## 3. 핵심 전략 (Key Strategy)\n\n* **캠페인 콘셉트**\n    * (예: \"Urban Oasis\", \"숨결이 모여 숲이 될 때\" 등 캠페인 전체를 관통하는 핵심 아이디어를 제시합니다.)\n* **타겟 오디언스**\n    * (캠페인이 집중해야 할 핵심 타겟을 구체적으로 정의합니다. - 데모그래픽, 사이코그래픽 등)\n* **핵심 메시지**\n    * (정의된 타겟에게 전달하고자 하는 가장 중요한 메시지를 명확히 합니다.)\n\n---\n\n## 4. 세부 실행 방안 (Action Plan)\n\n* **[전략 1: 예) 디지털 광고]**\n    * **매체 운영:** (예: 네이버, 구글 SA/DA, 유튜브 범퍼 광고 등)\n    * **크리에이티브:** (광고 소재 시안 예시 또는 방향성)\n* **[전략 2: 예) 인플루언서 마케팅]**\n    * **인플루언서 선정 기준:** (예: 30대 여성 라이프스타일, 구독자 10만 이상 등)\n    * **콘텐츠 협업 방식:** (예: 브랜디드 콘텐츠, 공동 구매 진행 등)\n* **[전략 3: 예) 오프라인 이벤트]**\n    * **이벤트 개요:** (예: 팝업 스토어 운영)\n    * **주요 프로그램:** (운영 장소, 기간, 현장 프로그램 상세)\n\n---\n\n## 5. 기대 효과 및 성과 측정 (KPI)\n\n* **정량적 목표 (Quantitative Goals)**\n    * (예: 캠페인 기간 내 ROAS 300% 달성, 신규 유입자 수 5만 명, 브랜드 인지도 20% 상승)\n* **정성적 목표 (Qualitative Goals)**\n    * (예: 타겟 사이 내 긍정적 버즈 생성, '세련된' 브랜드 이미지 확립)\n* **성과 측정 방안**\n    * (목표 달성 여부를 측정할 구체적인 방법론을 제시합니다. - 예: GA 분석, 서드파티 리서치 등)\n\n---\n\n## 6. 수행 범위 및 일정 (Scope & Timeline)\n\n* **수행 범위 (Scope of Work)**\n    * (귀사/에이전시가 제공하는 업무 범위를 명확히 규정합니다.)\n* **프로젝트 일정 (Timeline)**\n    * (프로젝트의 시작부터 종료까지 주요 마일스톤을 시각화하여 보여줍니다.)\n\n| 단계 | 주요 업무 | 1주차 | 2주차 | 3주차 | 4주차 | ... |\n| :--- | :--- | :---: | :---: | :---: | :---: | :---: |\n| **준비** | 킥오프, 상세 기획 | ■ | | | | |\n| **실행** | 광고 소재 제작 | | ■ | ■ | | |\n| **운영** | 매체 라이브 | | | | ■ | ■ |\n| **보고** | 중간/최종 보고 | | | | | ■ |\n\n---\n\n## 7. 예산 (Budget)\n\n* (총 예산을 항목별로 구분하여 상세히 제안합니다.)\n\n| 항목 | 세부 내용 | 수량 | 단가 | 금액 | 비고 |\n| :--- | :--- | :---: | :---: | :---: | :--- |\n| **1. 광고 제작비** | 영상 제작 | 1 | - | 0,000,000 | |\n| | 배너 제작 | 10 | - | 0,000,000 | |\n| **2. 매체비** | 네이버 GFA | - | - | 0,000,000 | |\n| | 유튜브 | - | - | 0,000,000 | |\n| **3. 기타** | 인플루언서 | 5 | - | 0,000,000 | |\n| **(대행 수수료)** | (총액의 X%) | - | - | 0,000,000 | |\n| **합계 (VAT 별도)**| | | | **00,000,000** | |\n\n---\n\n## 8. 수행 조직 및 회사 소개 (About Us)\n\n* **수행 조직 (Project Team)**\n    * (본 프로젝트를 담당할 핵심 인력의 역할과 이력을 간략히 소개합니다.)\n* **회사 소개 (Company Introduction)**\n    * (귀사의 전문성, 비전, 주요 파트너사 등을 소개합니다.)\n* **주요 포트폴리오 (Portfolio)**\n    * (유사 프로젝트 성공 사례를 1~2개 선별하여 성과 위주로 제시합니다.)"
            }
          ]
        },
        "options": {
          "maxToolsIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        5296
      ],
      "id": "74f33226-d2ab-4adb-9236-deb3501a6ea0",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "fjoV8HBbStE8qU8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        5312
      ],
      "id": "ad696f5f-9381-41e2-8575-82e2557f5e30",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model3').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        5296
      ],
      "id": "54339a38-5a74-4481-a24c-04ed8afbaa86",
      "name": "Update a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        5296
      ],
      "id": "a9ab8175-0e72-4334-adfa-a44902688cd8",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "folderId": "=1txrnYj8UO80hgvfxL8i5hiPNnop1omDa",
        "title": "=제안서 {{ $('Schedule Trigger').item.json.timestamp }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        976,
        5296
      ],
      "id": "5c3e1327-ffd5-4fcb-8597-5f3dc929866a",
      "name": "Create a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d284f6e7-5bf4-4aa0-9ecc-9807c3d44700"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5edf3ab5-df4b-46cf-8895-b886ce22ebbe",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ebf3bdd-1253-462a-b6b4-6890bb314d7c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        5712
      ],
      "id": "88578895-84d0-43af-b7f5-3220fe6a1cfb",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        5520
      ],
      "id": "268dd33c-e931-40e4-a73b-f28ee541f1bc",
      "name": "Get a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        5728
      ],
      "id": "68fcfbd7-b5cf-4b38-b4ce-60fd9400205f",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        976,
        5728
      ],
      "id": "3f717ee4-2adf-4712-8139-dedeca193d3f",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items3').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWuv7zgi4iDDnWmCvM6bHcTRAzwa1_1vY6T7cmt_amQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        5968
      ],
      "id": "1b5b55c5-2f88-43f4-9afa-723d62ce391d",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrqqwLzX0On2WjyK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        1280,
        5968
      ],
      "id": "51d2d37f-9ebc-453e-97c9-a7d3a086187f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e27c82-1830-40f4-aeb6-c8d0587b44d2",
              "name": "rowMerge",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        5968
      ],
      "id": "0eb04fca-60c6-4f31-af7e-d774ec0e99b8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rowMerge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        5968
      ],
      "id": "48487657-159b-4e4f-ac18-bf4cbb9a661f",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items3').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1txrnYj8UO80hgvfxL8i5hiPNnop1omDa",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        5968
      ],
      "id": "918807f2-9567-4977-9283-e189d355e629",
      "name": "Move file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 01 답변 메일 작성",
        "height": 976,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        -64
      ],
      "typeVersion": 1,
      "id": "0c0055eb-b52a-461b-b525-49131fd8035f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 02 회의록 작성",
        "height": 1024,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        960
      ],
      "typeVersion": 1,
      "id": "5f600d4b-73b5-4287-9027-fc2f4d05fd0d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 03 액션 아이템 생성",
        "height": 944,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        2048
      ],
      "typeVersion": 1,
      "id": "7ebbe14c-ab45-40c5-a2c9-6e5ecaf40370",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 06 제안서 작성",
        "height": 976,
        "width": 2432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        5232
      ],
      "typeVersion": 1,
      "id": "6c05f59b-9443-4db0-b1e0-b128b9395d36",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1dTdejPxuFn8cJq-z3YRoOigf7JvcY3Uw",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        3168
      ],
      "id": "9668bc95-a8a2-4208-8961-9ad1a78a821a",
      "name": "Search files and folders4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=당신은 고도로 숙련된 '소셜 미디어 콘텐츠 수석 전략가'입니다.\n당신의 임무는 제공된 URL의 내용을 분석하여 클라이언트 및 캠페인 세부 정보를 추출한 다음, 이를 기반으로 매우 함축적이고 구조화된 영상 콘텐츠 기획안을 생성하는 것입니다.\n\n작업은 두 단계로 진행됩니다:\n1.  먼저, URL의 내용을 분석하여 핵심 정보를 \"[추출된 클라이언트 브리프]\" 형식으로 요약합니다.\n2.  둘째, 오직 \"[추출된 클라이언트 브리프]\"만을 기반으로 간결한 \"[함축적 콘텐츠 기획안]\"을 생성합니다.\n\n모든 설명은 극도로 간결해야 합니다.\n\n---\n[참고 내용]\n{{ $json.content }}\n\n---\n[출력 형식]\n\n**[추출된 클라이언트 브리프]**\n([입력 URL]을 분석하고 다음 섹션을 간결하게 채우세요.)\n\n* **[클라이언트 정보]**\n    * 브랜드명:\n    * 업종:\n    * 타겟:\n* **[캠페인 정보]**\n    * 캠페인명:\n    * 목표:\n    * 예산:\n    * 기간:\n* **[채널 정보]**\n    * 주요 플랫폼:\n    * 게시 빈도:\n    * 영상 길이:\n* **[제품 특징]**\n    * (핵심 특징 1)\n    * (핵심 특징 2)\n* **[클라이언트 요청사항]**\n    * (주요 요청사항 요약)\n\n---\n**[함축적 콘텐츠 기획안]**\n(위 \"[추출된 클라이언트 브리프]\"에만 기반하여 다음 기획안을 생성하세요.)\n\n1.  **코어 컨셉 (Core Concept):**\n    * (타겟과 목표를 관통하는 단 한 문장의 핵심 메시지 또는 테마)\n\n2.  **핵심 콘텐츠 필러 (Content Pillars) 및 영상 시리즈:**\n    * (캠페인 목표 달성을 위한 3가지 핵심 콘텐츠 카테고리)\n\n    * **Pillar 1. [필러 주제 1 (예: 정보/유용성)]**\n        * *시리즈 A:* [시리즈명 및 한 줄 컨셉 요약]\n        * *시리즈 B:* [시리즈명 및 한 줄 컨셉 요약]\n\n    * **Pillar 2. [필러 주제 2 (예: 재미/공감)]**\n        * *시리즈 A:* [시리즈명 및 한 줄 컨셉 요약]\n        * *시리즈 B:* [시리즈명 및 한 줄 컨셉 요약]\n\n    * **Pillar 3. [필러 주제 3 (예: 제품/브랜드 가치)]**\n        * *시리즈 A:* [시리즈명 및 한 줄 컨셉 요약]\n        * *시리즈 B:* [시리즈명 및 한 줄 컨셉 요약]\n\n3.  **성과 측정 (Key Metric Focus):**\n    * (캠페인 목표에 따른 핵심 성과 지표 1-2가지)"
            }
          ]
        },
        "options": {
          "maxToolsIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        3152
      ],
      "id": "42a7b51a-fcb9-4f19-85e5-e35c29d7db6f",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "fjoV8HBbStE8qU8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        3168
      ],
      "id": "b8a6132d-a33d-44e4-87ab-517a7ff81a92",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model4').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        3152
      ],
      "id": "8ae72f69-250b-4e14-88b0-02544b405c4a",
      "name": "Update a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        3152
      ],
      "id": "4add75e4-5127-4ea1-ba65-f2cef6074e2b",
      "name": "Aggregate8"
    },
    {
      "parameters": {
        "folderId": "=1Eq-zjNhI5FQHnCiXHHNcx43CzkqSBTct",
        "title": "=브레인스토밍 {{ $('Schedule Trigger').item.json.timestamp }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        976,
        3152
      ],
      "id": "b5e73085-2459-45f6-99e1-38f7b6b72ca6",
      "name": "Create a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d284f6e7-5bf4-4aa0-9ecc-9807c3d44700"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5edf3ab5-df4b-46cf-8895-b886ce22ebbe",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ebf3bdd-1253-462a-b6b4-6890bb314d7c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        3568
      ],
      "id": "1f0dfd77-26db-43da-a073-99bd4ce5d89f",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        3376
      ],
      "id": "11f67d87-997f-4f83-a500-0fb1016a5282",
      "name": "Get a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        3584
      ],
      "id": "134433a5-dd4c-4c99-927e-99b9dd94f37a",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        976,
        3584
      ],
      "id": "c1e55f7f-b0e5-43e7-b560-c54a8c7d7ab9",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items4').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWuv7zgi4iDDnWmCvM6bHcTRAzwa1_1vY6T7cmt_amQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        3824
      ],
      "id": "32e87944-ecf8-4f52-9078-0f4d6160ede8",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrqqwLzX0On2WjyK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me4",
      "typeVersion": 1,
      "position": [
        1280,
        3824
      ],
      "id": "cc5cfbfc-f149-47db-9041-aecedd4168a6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e27c82-1830-40f4-aeb6-c8d0587b44d2",
              "name": "rowMerge",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        3824
      ],
      "id": "f7b4b746-3a89-4e85-88f9-7cf9c7e3d800",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rowMerge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        3824
      ],
      "id": "7e6e1b11-1f9c-4539-b7b7-4dbc11fa7b63",
      "name": "Aggregate9"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items4').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Eq-zjNhI5FQHnCiXHHNcx43CzkqSBTct",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        3824
      ],
      "id": "17caf77d-9cea-4009-9008-347d7edc26d6",
      "name": "Move file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 04 브레인 스토밍",
        "height": 944,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        3088
      ],
      "typeVersion": 1,
      "id": "962777f9-a188-4ca7-9925-c56f9d127a6e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/u/0/folders/1Eq-zjNhI5FQHnCiXHHNcx43CzkqSBTct",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -448,
        4224
      ],
      "id": "f1453117-0a15-4806-89ea-bc818269953a",
      "name": "Search files and folders5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE]\n당신은 최고의 AI 콘텐츠 전략가이자 소셜 미디어 캠페인 기획 전문가입니다.\n\n[TASK]\n'입력 정보' 섹션에 제공된 클라이언트의 원본 데이터(URL 내용 포함)를 심층 분석하여, 타겟(MZ세대)에게 매력적이고 캠페인 목표(인지도 향상, 구매 유도)를 달성할 수 있는 '소셜 미디어 영상 콘텐츠 기획안'을 작성합니다.\n\n[참고 내용]\n{{ $json.content }}\n\n---\n[INSTRUCTIONS]\n창의적 컨셉 도출: 클라이언트 요청사항과 제품 특징을 결합하여 캠페인 전체를 관통하는 창의적인 '핵심 컨셉'과 '크리에이티브 방향'을 제안해야 합니다.\n\n구체적 시리즈 기획: 주요 플랫폼(인스타그램, 유튜브 쇼츠, 틱톡)의 특성에 맞는 최소 3가지의 구체적인 '콘텐츠 시리즈'를 기획합니다. 각 시리즈는 포맷, 내용, 길이를 포함해야 합니다.\n\n전략적 예산/KPI: {캠페인 정보}의 예산(3,000만원)을 바탕으로 '예산 배분' 테이블을 작성하고, '예상 성과 지표(KPI)'를 구체적인 수치로 제시해야 합니다.\n\n실행 계획: '제작 계획'에는 현실적인 일정, 인력 구성, 그리고 {클라이언트 요청사항}에 맞는 '협업 인플루언서(안)'이 포함되어야 합니다.\n\n요약 및 구조화: 모든 내용은 장황하지 않고, [OUTPUT FORMAT]에 맞춰 명확하고 함축적으로 구조화해야 합니다.\n\n[OUTPUT FORMAT]\n영상 콘텐츠 기획안\n\"{캠페인명}\" 캠페인\n클라이언트: {브랜드명} 제안일자: {오늘 날짜} 제안사: (예: 유어미디어)\n\n1. 캠페인 개요\n1.1 핵심 컨셉\n(예: \"하루 2번, 지구를 위한 미소\")\n\n1.2 크리에이티브 방향\n(예: 밝고 경쾌한 톤앤매너, 비포/애프터 대비 등)\n\n2. 콘텐츠 시리즈 구성\n시리즈 A: [시리즈명]\n포맷: 내용:\n\n시리즈 B: [시리즈명]\n포맷: 내용:\n\n시리즈 C: [시리즈명] (사용자 참여형)\n포맷: 내용: (예: 챌린지 및 이벤트 연계)\n\n3. 제작 계획\n3.1 프로덕션 일정 (예시)\n1주차: 프리 프로덕션\n\n2-3주차: 메인 촬영\n\n...\n\n3.2 인력 구성\n3.3 협업 인플루언서 (안)\n(타겟과 업종에 맞는 인플루언서 3명 제안)\n\n4. 예산 배분\n항목\t금액 (단위: 원)\t비고\n기획/제작비\t\t\n인플루언서 협찬\t\t\n광고 집행비\t\t\n이벤트 상품\t\t\n예비비\t\t\n총계\t{총 예산}"
            }
          ]
        },
        "options": {
          "maxToolsIterations": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        224,
        4208
      ],
      "id": "82a21e3d-ac87-4cc9-ac80-74738f153671",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "fjoV8HBbStE8qU8n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        4224
      ],
      "id": "2671ab4c-0105-428e-b0ee-cade88daaa30",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model5').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1296,
        4208
      ],
      "id": "5b4ff794-3937-4e72-970f-db0c954acdd4",
      "name": "Update a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -32,
        4208
      ],
      "id": "acae9af3-0062-45ee-86a8-e05b61587774",
      "name": "Aggregate10"
    },
    {
      "parameters": {
        "folderId": "=1-0v9r-bsK5-cTkFK1dtcQi3r5zFfTCY-",
        "title": "=기획안 {{ $('Schedule Trigger').item.json.timestamp }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        976,
        4208
      ],
      "id": "dea0c17f-c669-4840-b971-63a3d78d5d10",
      "name": "Create a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d284f6e7-5bf4-4aa0-9ecc-9807c3d44700"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5edf3ab5-df4b-46cf-8895-b886ce22ebbe",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ebf3bdd-1253-462a-b6b4-6890bb314d7c",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        4624
      ],
      "id": "cba5a6d3-4353-46d4-8583-48ba95dbb12b",
      "name": "Switch5"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        4432
      ],
      "id": "d1de0999-1b1a-476e-bef3-d1257642f056",
      "name": "Get a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ai19mvF2K4CjHDsv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        4640
      ],
      "id": "5a96844c-34a4-4c18-87b5-31cf5fe2ab1c",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        976,
        4640
      ],
      "id": "9ef8d8c8-dbe6-418b-a1da-9d62f9440ad1",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items5').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fWuv7zgi4iDDnWmCvM6bHcTRAzwa1_1vY6T7cmt_amQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        4880
      ],
      "id": "47e4ad21-3734-4a3b-9f33-b4a4ed7960bd",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TrqqwLzX0On2WjyK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me5",
      "typeVersion": 1,
      "position": [
        1280,
        4880
      ],
      "id": "a4e493af-3e14-476c-aaef-0db35336c24d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23e27c82-1830-40f4-aeb6-c8d0587b44d2",
              "name": "rowMerge",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        4880
      ],
      "id": "e26ee7a3-5150-4ab7-a7fc-fcfbed501bf0",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "rowMerge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        4880
      ],
      "id": "72edff7c-dc6c-447b-b4e1-7ea3055da2ef",
      "name": "Aggregate11"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items5').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-0v9r-bsK5-cTkFK1dtcQi3r5zFfTCY-",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        4880
      ],
      "id": "c155880d-11b2-4113-b2b8-f59dccee5e3d",
      "name": "Move file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Ar0Zx7HTopsFgQSs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 05 기획안 작성",
        "height": 944,
        "width": 2448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        4144
      ],
      "typeVersion": 1,
      "id": "2d14e9a3-7f49-4871-961c-52e8ba2fda5a",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a document4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document4": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document2": {
      "main": [
        [
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Create a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document3": {
      "main": [
        [
          {
            "node": "Update a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document2": {
      "main": [
        [
          {
            "node": "Search files and folders4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Create a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document4": {
      "main": [
        [
          {
            "node": "Update a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Get a document3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document3": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me4": {
      "main": [
        [
          {
            "node": "Move file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Aggregate10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate10": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document5": {
      "main": [
        [
          {
            "node": "Update a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Get a document5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document5": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me5": {
      "main": [
        [
          {
            "node": "Move file5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate11": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document4": {
      "main": [
        [
          {
            "node": "Search files and folders5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document5": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2965bef0-665a-4781-8b4e-cec9e9e918c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d1821dcddddf1000e99ccd55160675fd36ab330a1e5c2f425d66d6a05b251d7"
  },
  "id": "BaqcsiSF8Zbbfz9J",
  "tags": []
}