codes/quests/14_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d2cade3c-71d5-432d-8d2e-5632440bbde5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GG9wYnIb-WuhF49yO8xBpiPa5mXriB0QsjcPRwMuawM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GG9wYnIb-WuhF49yO8xBpiPa5mXriB0QsjcPRwMuawM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        496
      ],
      "id": "714e8fd2-6450-44fd-86f3-a2b47661468e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qpjCcwo9MRzp2HH1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['option gmail'] }}",
        "subject": "={{ $('Edit Fields').item.json.title }}",
        "message": "={{ $('Edit Fields').item.json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2224,
        496
      ],
      "id": "84c7bbd2-3d2d-4adc-9f45-a4ecf066f66e",
      "name": "Send a message",
      "webhookId": "e62fee3f-3524-401f-ae7f-53d0b96d7b80",
      "credentials": {
        "gmailOAuth2": {
          "id": "w5Qpn1QWg3NktaHe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "c742b3aa-392b-4950-a86e-b66570d10959",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2448,
        496
      ],
      "id": "0a70892a-07ff-4e5f-b07b-dacf3fd0fc24"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xcfnBE_0ZWjR7rHY5pQYBpBMQV8Q0qhR",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "1d57edc6-1c24-42bc-b874-3527c79c7adb",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QauWxsPIyy4loLPC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "92a23398-0683-4485-9e05-22f8346e225d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd1a86d8-22df-4931-9910-4651ea9a346e",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        640,
        240
      ],
      "id": "21b75d8e-914c-4d05-a27c-545baf883d89",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1296,
        224
      ],
      "id": "9e1fe08c-b953-4104-8c7f-d3eb706ce0a0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        224
      ],
      "id": "23ccb3dd-e53d-437c-92d5-f5ebd585a0f2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QauWxsPIyy4loLPC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        496
      ],
      "id": "545b68fb-4443-4fb9-af8b-b810b55580a7",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QauWxsPIyy4loLPC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1296,
        496
      ],
      "id": "990cffaf-3e1a-4e32-b053-e36b88ef0136",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e8f7ae9-63ca-4e54-b8fb-c5982c1d9ae9",
              "name": "title",
              "value": "={{ $('Download file').item.json.name }}",
              "type": "string"
            },
            {
              "id": "e329da61-4caf-408a-a91e-a3d9f72ed95c",
              "name": "content",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        496
      ],
      "id": "d6ed9a51-44e5-4de9-9282-61ea6d1fb4fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "8297276244",
        "text": "메일 발송이 완료되었습니다.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        -16
      ],
      "id": "fdc846d9-0e17-4c34-a428-80d7f3977976",
      "name": "Send a text message",
      "webhookId": "b93253d5-3545-4cb5-b225-ccaef2e8dc19",
      "credentials": {
        "telegramApi": {
          "id": "5ewYEHvSIlWZC47f",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76682547-adf6-4197-8432-f4f2bd2ccd13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9fc5d682107eefaee11b603cd26a60b2ec2161a2d6b6e98644158546b12814e"
  },
  "id": "x61eEGNq9R3bNHJ9",
  "tags": []
}