codes/quests/14_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d2cade3c-71d5-432d-8d2e-5632440bbde5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GG9wYnIb-WuhF49yO8xBpiPa5mXriB0QsjcPRwMuawM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GG9wYnIb-WuhF49yO8xBpiPa5mXriB0QsjcPRwMuawM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        0
      ],
      "id": "714e8fd2-6450-44fd-86f3-a2b47661468e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qpjCcwo9MRzp2HH1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields1').item.json.gmails }}",
        "subject": "=테스트] {{ $('Download file').item.json.name }}",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2064,
        -16
      ],
      "id": "84c7bbd2-3d2d-4adc-9f45-a4ecf066f66e",
      "name": "Send a message",
      "webhookId": "e62fee3f-3524-401f-ae7f-53d0b96d7b80",
      "credentials": {
        "gmailOAuth2": {
          "id": "w5Qpn1QWg3NktaHe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xcfnBE_0ZWjR7rHY5pQYBpBMQV8Q0qhR",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "id",
            "mimeType",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        0
      ],
      "id": "1d57edc6-1c24-42bc-b874-3527c79c7adb",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QauWxsPIyy4loLPC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1776,
        0
      ],
      "id": "9e1fe08c-b953-4104-8c7f-d3eb706ce0a0",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1472,
        0
      ],
      "id": "23ccb3dd-e53d-437c-92d5-f5ebd585a0f2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QauWxsPIyy4loLPC",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8297276244",
        "text": "메일 발송이 완료되었습니다.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2656,
        -16
      ],
      "id": "fdc846d9-0e17-4c34-a428-80d7f3977976",
      "name": "Send a text message",
      "webhookId": "b93253d5-3545-4cb5-b225-ccaef2e8dc19",
      "credentials": {
        "telegramApi": {
          "id": "5ewYEHvSIlWZC47f",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e73242-82a9-4bad-8455-0afe11ccf92f",
              "name": "gmails",
              "value": "={{ $json['gmails'].join(\",\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        0
      ],
      "id": "47cabb6b-5bce-4645-82a8-09d04bd5923d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "option gmail",
              "renameField": true,
              "outputFieldName": "gmails"
            },
            {
              "fieldToAggregate": "이름",
              "renameField": true,
              "outputFieldName": "names"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "0f86cfb7-b353-43f7-b1a3-31f99a262f75",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2336,
        -16
      ],
      "id": "68adcbea-e534-4208-9098-646439fdcc13",
      "name": "Aggregate1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ddf4c2a-0e9e-4dd8-8d08-b3ec61e6cd5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9fc5d682107eefaee11b603cd26a60b2ec2161a2d6b6e98644158546b12814e"
  },
  "id": "x61eEGNq9R3bNHJ9",
  "tags": []
}