codes/quests/18_study_storages_Diskfiles.json
{
  "name": "study_storages_Diskfiles",
  "nodes": [
    {
      "parameters": {
        "formTitle": "음성 파일 생성",
        "formDescription": "음성 파일 생성 (텍스트 입력 -> 음성파일 생성)",
        "formFields": {
          "values": [
            {
              "fieldLabel": "voice_text",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "f926d49e-d4ce-441e-a699-236175af5796",
      "name": "On form submission",
      "webhookId": "897c7326-3228-4eaa-9b39-d506b862bd48"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-tts:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAlSQXM1KKNfVnwojyCH_hO4BLrbKV7Bx0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"contents\": [{\n          \"parts\":[{\n            \"text\": \"{{ $('On form submission').item.json.voice_text }}\"\n          }]\n        }],\n        \"generationConfig\": {\n          \"responseModalities\": [\"AUDIO\"],\n          \"speechConfig\": {\n            \"voiceConfig\": {\n              \"prebuiltVoiceConfig\": {\n                \"voiceName\": \"Kore\"\n              }\n            }\n          }\n        }\n    }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "295adece-3a59-4cc6-8911-49f30f3d86d6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6a5259a-8188-4bf0-b82b-2d92a7c4c428",
              "name": "resource_dir",
              "value": "/home/node/outputs/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "78329c69-f263-4698-9ffa-c0dd772fbd15",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "command": "=mkdir -p  {{ $json.resource_dir }} &&\ncd {{ $json.resource_dir }} &&\nrm -f *"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "21b20fd7-90d2-45bf-85f0-6fc6612a8776",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {
          "fileName": "={{ $('Edit Fields').item.json.resource_dir }}out.pcm"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "8fdba1a2-9b0f-43ae-9709-a684b2305049",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Edit Fields').item.json.resource_dir }}out.pcm",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "a2b1d59f-9cb1-4c0e-8088-9e0122e4b280",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyAlSQXM1KKNfVnwojyCH_hO4BLrbKV7Bx0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"반드시 이미지 데이터 생성. {{ $('On form submission').item.json.voice_text }}\"\n        }\n      ]\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        320
      ],
      "id": "ab0a93ae-81d1-4ed5-a005-aa4c74191340",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        832,
        320
      ],
      "id": "f03c14c3-2065-42cb-945a-dd5f53491820",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Edit Fields').item.json.resource_dir }}out.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        320
      ],
      "id": "112b3a69-3052-441b-977c-3a46ef2cceba",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "command": "=cd {{ $('Edit Fields').item.json.resource_dir }} &&\nffmpeg -loop 1 -i out.png -f s16le -ar 24000 -ac 1 -i out.pcm -c:v libx264 -c:a aac -pix_fmt yuv420p -shortest out.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1744,
        0
      ],
      "id": "d780a412-d1e1-4708-89a6-027eae704c11",
      "name": "Execute Command"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        0
      ],
      "id": "4f9b583c-dca1-4610-9041-51322a4454d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": "={{ $items().length }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1504,
        0
      ],
      "id": "6dad6801-4f84-43b6-a3d3-02af648f20d5",
      "name": "Limit"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "voice_text": "고대 그리스 철학에서 '테세우스의 배'는 부품을 하나씩 교체한 배가 여전히 같은 배인가 묻는 사고실험입니다. 시간이 흐르며 모든 부품이 바뀌더면 정체성은 무엇에 기반하는가라는 질문은 존재론적 딜레마를 제시합니다. 이 이야기는 개인과 집단, 사물의 본질과 연속성에 대한 깊은 성찰을 유도합니다.",
          "submittedAt": "2025-11-10T11:12:44.269+09:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb512db8-f830-4960-a136-51b1a5ef931a",
  "meta": {
    "instanceId": "ed051297fb93ef1be53ee5134d673f832884e317f8cb1f95cbe80d14221b7000"
  },
  "id": "JXh1Ecqf4Dx204md",
  "tags": []
}