personal/n8n/resumeAutoReview.json
{
  "name": "resumeAutoReview",
  "nodes": [
    {
      "parameters": {
        "formTitle": "이력서 자동 리뷰 및 수정",
        "formDescription": "공고 내용을 입력하면 김진현의 이력서를 불러와 검토 후 수정",
        "formFields": {
          "values": [
            {
              "fieldLabel": "company",
              "placeholder": "회사명을 입력해주세요.",
              "requiredField": true
            },
            {
              "fieldLabel": "jobDescription",
              "fieldType": "textarea",
              "placeholder": "직무내용을 입력해주세요.",
              "requiredField": true
            },
            {
              "fieldLabel": "qualifications",
              "fieldType": "textarea",
              "placeholder": "자격요건을 입력해주세요."
            },
            {
              "fieldLabel": "preferentialTreatment",
              "fieldType": "textarea",
              "placeholder": "우대사항을 입력해주세요."
            },
            {
              "fieldLabel": "resume",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf, .docx, ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -560,
        16
      ],
      "id": "743ba398-803a-4754-b135-b90cf267fcb5",
      "name": "On form submission",
      "webhookId": "4f4f08e0-af3b-4e5c-b9e5-411dc209819c"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 20년 경력의 헤드헌터이자 채용 공고 분석 전문가(JD Analyst)입니다. 당신의 임무는 채용 공고(JD)를 '해체'하여, 이력서 검토에 필요한 '핵심 평가 기준(Key Evaluation Criteria)'을 추출하는 것입니다.\n\n[INPUT]\n\n[JOB_DESCRIPTION]\n- 회사명: {{ $('On form submission').item.json.company }}\n- 직무소개: {{ $('On form submission').item.json.jobDescription }}\n- 자격요건: {{ $('On form submission').item.json.qualifications }}\n- 우대사항: {{ $('On form submission').item.json.preferentialTreatment }}\n\n[TASK] [JOB_DESCRIPTION]을 분석하여, 5명의 이력서 검토 전문가(자기소개, 역량, 기술, 성과, 경력)가 공통으로 사용해야 할 '핵심 평가 기준 리포트'를 생성합니다.\n\n[EXECUTION]\n\nMust-Have (필수 요건): 자격 요건(Must-Have)을 명확히 식별하고 3~5가지 핵심 역량으로 요약합니다.\n\nPreferred (우대 사항): 우대 사항(Nice-to-Have)을 식별하고, '있으면 치명적인' 매력 포인트를 정의합니다.\n\nKey Keywords & Verbs: JD에서 반복적으로 등장하는 핵심 키워드(예: '데이터 기반', '확장성', '그로스 해킹')와 선호하는 동사(예: '주도한', '구축한', '최적화한')를 추출합니다.\n\nTone & Culture: JD의 문맥에서 유추할 수 있는 기업 문화(예: '빠른 실행력', '논리적 커뮤니케이션', '팀워크')를 정의합니다.\n\n[OUTPUT_FORMAT] (JSON 형식으로 출력)\n\nJSON\n\n{\n  \"positionTitle\": \"[채용 직무명]\",\n  \"mustHaveCriteria\": [\n    \"[핵심 필수 역량 1]\",\n    \"[핵심 필수 역량 2]\",\n    \"...\"\n  ],\n  \"preferredCriteria\": [\n    \"[핵심 우대 역량 1]\",\n    \"...\"\n  ],\n  \"keyKeywords\": [\"[키워드 1]\", \"키워드 2\", \"동사 1\", \"동사 2\"],\n  \"inferredCulture\": \"[기업 문화 키워드 1], [키워드 2]\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        416
      ],
      "id": "7cefb31d-edca-407f-83b4-0a4d4a94b0c7",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 지원자의 '첫인상'을 책임지는 최고의 퍼스널 브랜딩 전문가이자 카피라이터입니다.\n\n[CONTEXT]\n\n[JD_ANALYSIS_REPORT]: {{ $json.keyEvaluationCriteria }}\n\n[selfIntroduction_AS_IS]: {{ $json.selfIntroduction }}\n\n[TASK] [selfIntroduction_AS_IS]를 [JD_ANALYSIS_REPORT]의 'mustHaveCriteria'와 'positionTitle'에 맞춰 전략적으로 수정하는 JSON 결과를 생성합니다.\n\n[OUTPUT_FORMAT] 아래 [JSON_SCHEMA]를 엄격히 따르는 단일 JSON 객체만 출력합니다. (설명이나 다른 텍스트 제외)\n\n[JSON_SCHEMA]\n\nJSON\n\n{\n  \"section\": \"selfIntroduction\",\n  \"analysis\": {\n    \"critique\": \"(현재 자기소개가 JD 대비 부족한 점. 예: 'JD는 '그로스 해킹'을 원하는데, 지원자는 '성실함'만 강조함.')\"\n  },\n  \"recommendation\": {\n    \"strategy\": \"(JD의 핵심 키워드를 사용한 수정 방향. 예: '성실함 대신 '데이터 기반 실험'과 '빠른 실행력'을 전면에 내세워야 함.')\",\n    \"suggestedContent\": {\n      \"copy\": \"(JD 맞춤형으로 완벽하게 재작성된 1~3문장의 강력한 자기소개 예시)\"\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        944
      ],
      "id": "3a065947-4880-4fdf-b432-c4fc19ee8732",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 기업의 역량 모델(Competency Model)을 설계하는 HR 컨설턴트입니다.\n\n[CONTEXT]\n\n[JD_ANALYSIS_REPORT]: {{ $('Edit Fields5').item.json.keyEvaluationCriteria }}\n\n[coreCompetencies_AS_IS]: {{ $('Edit Fields5').item.json.coreCompetencies }}\n\n[TASK] [coreCompetencies_AS_IS]를 [JD_ANALYSIS_REPORT]를 기반으로 재구성하는 JSON 결과를 생성합니다. (우선순위 재배치, 그룹화, 키워드 매칭)\n\n[OUTPUT_FORMAT] 아래 [JSON_SCHEMA]를 엄격히 따르는 단일 JSON 객체만 출력합니다. (설명이나 다른 텍스트 제외)\n\n[JSON_SCHEMA]\n\nJSON\n\n{\n  \"section\": \"coreCompetencies\",\n  \"analysis\": {\n    \"critique\": \"(현재 역량 목록의 문제점. 예: '핵심 역량과 부가 역량이 혼재되어 JD와의 관련성을 파악하기 어려움.')\"\n  },\n  \"recommendation\": {\n    \"strategy\": \"(JD 우선순위에 맞춘 재배치 및 그룹화 전략.)\",\n    \"suggestedContent\": {\n      \"structure\": [\n        {\n          \"group\": \"JD 핵심 역량 (Must-Have)\",\n          \"items\": [\"(JD `mustHaveCriteria`와 일치하는 역량 1)\", \"(... 2)\"]\n        },\n        {\n          \"group\": \"보유 기술 및 도구 (Tools)\",\n          \"items\": [\"(관련 기술 1)\"]\n        },\n        {\n          \"group\": \"소프트 스킬 (Soft Skills)\",\n          \"items\": [\"(JD `inferredCulture`와 일치하는 역량. 예: 논리적 커뮤니케이션)\"]\n        }\n      ]\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        944
      ],
      "id": "ba493401-9f60-491d-97c8-98c9f0da05c6",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 실리콘밸리의 시니어 테크니컬 리크루터입니다.\n\n[CONTEXT]\n\n[JD_ANALYSIS_REPORT]: {{ $('Edit Fields5').item.json.keyEvaluationCriteria }}\n\n[techStack_AS_IS]: {{ $('Edit Fields5').item.json.techStack }}\n\n[TASK] [techStack_AS_IS]를 JD의 기술 요건에 맞게 명확하고 전략적으로 표현하도록 수정하는 JSON 결과를 생성합니다. (숙련도 명시, JD 관련 기술 강조, 카테고리화)\n\n[OUTPUT_FORMAT] 아래 [JSON_SCHEMA]를 엄격히 따르는 단일 JSON 객체만 출력합니다. (설명이나 다른 텍스트 제외)\n\n[JSON_SCHEMA]\n\nJSON\n\n{\n  \"section\": \"techStack\",\n  \"analysis\": {\n    \"critique\": \"(예: '기술이 단순 나열되어 있어, JD가 요구하는 'React'에 대한 숙련도를 알 수 없음.')\"\n  },\n  \"recommendation\": {\n    \"strategy\": \"(JD 요구 기술 강조 및 숙련도 표기 제안.)\",\n    \"suggestedContent\": {\n      \"structure\": [\n        {\n          \"category\": \"Frontend\",\n          \"items\": [\"React (상/핵심 기술)\", \"TypeScript (중)\"]\n        },\n        {\n          \"category\": \"Backend\",\n          \"items\": [\"Node.js (중)\", \"Python (하/우대 사항 경험)\"]\n        },\n        {\n          \"category\": \"Cloud\",\n          \"items\": [\"AWS (EC2, S3) (중)\"]\n        }\n      ]\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        128,
        944
      ],
      "id": "5cf7868d-4222-481c-9fc5-6d1de6d42abe",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 임원(C-level)을 코칭하는 성과 관리 전문가입니다. 당신은 모든 성과를 STAR 기법과 정량적 수치로 바꿔내는 전문가입니다.\n\n[CONTEXT]\n\n[JD_ANALYSIS_REPORT]: {{ $('Edit Fields5').item.json.keyEvaluationCriteria }}\n\n[keyAchievements_AS_IS]: {{ $('Edit Fields5').item.json.keyAchievements }}\n\n[TASK] [keyAchievements_AS_IS]의 모든 항목을 '성과 중심'(STAR, 정량화)으로 재작성하는 JSON 결과를 생성합니다.\n\n[OUTPUT_FORMAT] 아래 [JSON_SCHEMA]를 엄격히 따르는 단일 JSON 객체만 출력합니다. (설명이나 다른 텍스트 제외)\n\n[JSON_SCHEMA]\n\nJSON\n\n{\n  \"section\": \"keyAchievements\",\n  \"analysis\": {\n    \"critique\": \"(예: '성과 1: '...에 기여함.' -> 추상적이며 결과가 불명확함. 정량적 성과 부재.')\"\n  },\n  \"recommendation\": {\n    \"strategy\": \"(STAR 기법과 정량화를 통한 성과 임팩트 극대화. JD 연관 성과를 상단에 배치.)\",\n    \"suggestedContent\": {\n      \"revisions\": [\n        {\n          \"asIs\": \"(기존 성과 문구 1)\",\n          \"toBe\": \"(STAR 기법과 정량화가 적용된 수정 예시 문구 1. 예: '[Action] A/B 테스트 플랫폼 도입... -> [Result] ...전환율 12%p 개선')\"\n        },\n        {\n          \"asIs\": \"(기존 성과 문구 2)\",\n          \"toBe\": \"(수정 예시 문구 2)\"\n        }\n      ]\n    }\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        496,
        944
      ],
      "id": "e21c8de9-0482-456b-a0ab-36e02ce7d87f",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 지원자의 과거 모든 경험을 지원 직무(JD)의 관점에서 재해석하여 가치를 극대화하는 **커리어 내러티브 전략가(Career Narrative Strategist)**입니다. 당신은 \"버릴 경험은 없다, 다만 표현 방식이 다를 뿐이다\"라는 신조를 가지고 있습니다.\n\n[CONTEXT]\n\n[JD_ANALYSIS_REPORT]: {{ $('Edit Fields5').item.json.keyEvaluationCriteria }}\n\n[careerHistory_AS_IS]: {{ JSON.stringify($('Edit Fields5').item.json.careerHistory, null, 2) }}\n\n\n[TASK] [careerHistory_AS_IS]에 포함된 모든 경력 항목을 하나도 빠짐없이 검토하고, 각 경력의 상세 업무 내용(Bullet points)을 JD에 맞춰 **재작성(Rewriting)**합니다.\n\n[EXECUTION_GUIDELINES]\n\n직무 연관성이 높은 경력 (High Relevance):\n\nJD의 keyKeywords와 mustHaveCriteria를 직접적으로 사용하여 전문성을 강조합니다.\n\n업무 내용을 '문제(Problem) - 행동(Action) - 성과(Result)' 구조로 명확히 변경합니다.\n\n예: \"서버 관리\" -> \"AWS EC2 기반 트래픽 오토스케일링 환경 구축 및 운영 (가동률 99.9% 달성)\"\n\n직무 연관성이 낮은 경력 (Low Relevance / Transferable Skills):\n\n해당 경력에서 발휘한 **소프트 스킬(Soft Skills)**이나 **태도(Attitude)**를 JD의 인재상(inferredCulture)과 연결합니다.\n\n커뮤니케이션, 협업, 문제 해결 능력, 책임감, 빠른 습득력 등을 강조하여 '일 잘하는 사람'의 이미지를 구축합니다.\n\n예: \"카페 아르바이트\" -> \"고객 응대 및 재고 관리\" (X) -> \"일 평균 300명 고객 응대 및 POS 데이터 기반 재고 관리 최적화로 폐기율 10% 감소 (책임감 및 데이터 활용 능력)\" (O)\n\n용어 교체 (Terminology Swap):\n\n지원자가 사용한 일반적인 용어를 JD에 명시된 **업계 표준 용어(Industry Standard Terms)**로 교체합니다.\n\n[OUTPUT_FORMAT] 아래 [JSON_SCHEMA]를 엄격히 따르는 단일 JSON 객체만 출력합니다. (설명이나 다른 텍스트 제외)\n\n[JSON_SCHEMA]\n\nJSON\n\n{\n  \"section\": \"careerHistory\",\n  \"analysis\": {\n    \"critique\": \"(예: 'A사는 직무 연관성이 높아 전문성을 강조했고, B사는 이종 산업 경력이지만 JD의 핵심 가치인 '데이터 기반 사고'를 보여주도록 수정함.')\"\n  },\n  \"recommendation\": {\n    \"strategy\": \"(예: 모든 경력을 유지하되, 최근 경력은 JD 키워드 매칭율을 높이고, 과거 경력은 '문제 해결 능력'과 '협업' 역량을 중심으로 재서술하여 성장 서사를 완성함.)\",\n    \"suggestedContent\": {\n      \"revisions\": [\n        {\n          \"company\": \"A 회사 (가장 최근 경력)\",\n          \"role\": \"(직무명)\",\n          \"period\": \"(근무 기간)\",\n          \"asIs\": [\n            \"- (원문) 마케팅 기획\",\n            \"- (원문) 광고 집행\"\n          ],\n          \"toBe\": [\n            \"- (JD: '데이터 기반') GA, Amplitude 활용 유저 퍼널 분석을 통한 마케팅 KPI 수립 및 전략 도출\",\n            \"- (JD: '그로스 해킹') 퍼포먼스 마케팅(SA/DA) 예산 운영 및 소재 A/B 테스트 리딩 (주요 성과: ROAS 150% 달성)\"\n          ]\n        },\n        {\n          \"company\": \"B 회사 (과거 경력/이종 직무)\",\n          \"role\": \"(직무명)\",\n          \"period\": \"(근무 기간)\",\n          \"asIs\": [\"- (원문) 매장 관리 및 고객 응대\"],\n          \"toBe\": [\"- (JD: '고객 중심 사고') 고객 피드백 데이터 수집 및 분석을 통한 매장 운영 프로세스 개선 (고객 만족도 제고)\", \"- (JD: '협업') 5인 규모의 팀 스케줄 관리 및 신규 인원 교육 담당 (리더십 및 커뮤니케이션)\"]\n        }\n      ]\n    }\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        816,
        944
      ],
      "id": "61ea630d-b021-455b-b45a-1c37e3feabdd",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 5명의 전문 AI(자기소개, 역량, 기술, 성과, 경력)가 제출한 개별 검토 보고서를 최종 취합하고 종합적인 전략을 도출하는 **총괄 HR 임원(CHRO)**이자 수석 커리어 코치입니다.\n\n당신의 임무는 개별 JSON 보고서들을 기계적으로 합치는 것이 아니라, [JD_ANALYSIS_REPORT]라는 공동의 목표(채용 공고)에 맞춰 일관성을 검토하고, 시너지를 극대화하며, 지원자에게 최종적으로 전달할 **'종합 전략 리포트'**를 완성도 높게 작성하는 것입니다.\n\n[GOAL] 5개의 개별 JSON 검토 결과를 하나의 **일관성 있고 강력한 '이력서 강화 전략 리포트'**로 통합하고, 지원자를 위한 실행 가능한 '총괄 코멘트'를 작성합니다.\n\n[INPUTS] (총 6개의 JSON 객체)\n\n[JD_ANALYSIS_REPORT]: {{ $json.keyEvaluationCriteria }}\n\n[SELF_INTRODUCTION_JSON]: {{ $json.selfIntroduction }}\n\n[CORE_COMPETENCIES_JSON]: {{ $json.coreCompetencies }}\n\n[TECH_STACK_JSON]: {{ $json.techStack }}\n\n[KEY_ACHIEVEMENTS_JSON]: {{ $json.keyAchievements }}\n\n[CAREER_HISTORY_JSON]: {{ $json.careerHistory }}\n\n[CORE_TASK & EXECUTION_STEPS]\n\n[1단계: 종합 전략 수립 (Synthesize)]\n\n5개 JSON의 analysis.critique와 recommendation.strategy를 [JD_ANALYSIS_REPORT]와 교차 검증합니다.\n\n지원자의 현 이력서가 JD 대비 가진 **가장 강력한 무기(Strongest Asset)**와 **가장 치명적인 약점(Critical Weakness)**을 1~2가지로 요약합니다.\n\n5개 섹션 수정안 전체를 관통하는 **핵심 수정 전략(Key Strategy)**을 '헤드라인'으로 제시합니다. (예: '경험 나열형'에서 '성과 증명형'으로의 완전한 전환)\n\n입력된 Career History의 모든 경력을 Output에 포함합니다. Career History의 tobe_bullets에는 (JD Culture: '협업')과 같은 불필요한 내용은 삽입하지 않고 최종 전달될 내용으로 작성.\n\n(중요) 5개 섹션 간의 **불일치(Inconsistency)**나 시너지(Synergy) 포인트를 짚어줍니다.\n\n(예시: 'selfIntroduction에서 '데이터 기반 의사결정'을 강조했지만, keyAchievements에 관련 정량 성과가 부족하여 설득력이 약합니다. keyAchievements의 TO-BE 제안을 반드시 반영해야 합니다.')\n\n(예시: 'careerHistory에서 수정 제안된 성과 키워드가 coreCompetencies의 TO-BE 목록에 잘 반영되어 시너지가 좋습니다.')\n\n[2단계: 최종 리포트 통합 (Integrate)]\n\n[1단계]에서 수립한 '종합 전략'을 **'총괄 코멘트(Executive Summary)'**로 서두에 작성합니다.\n\n5개 JSON의 analysis와 recommendation 내용을 'AS-IS / TO-BE' 형식이 명확히 드러나는 단일 마크다운(Markdown) 문서로 재구성합니다.\n\n각 JSON의 suggestedContent (수정 예시 카피, 구조)를 독자가 즉시 이해하고 적용할 수 있도록 시각화하여 통합합니다.\n\n[MAPPING GUIDELINES] (데이터 가공 지침)\n\n텍스트 포맷팅: Google Docs는 Markdown(**bold**)을 인식하지 못합니다. 강조가 필요한 부분은 텍스트 자체를 명확하게 쓰거나, 리스트 항목 앞에 • 기호를 붙여서 구분하십시오.\n\n줄바꿈 처리: 여러 줄의 내용은 \\n (개행 문자)을 사용하여 하나의 문자열로 합치십시오. (예: [\"A\", \"B\"] -> \"• A\\n• B\")\n\nTop 2 선정: keyAchievements는 템플릿 공간 제약상 가장 임팩트 있는 상위 2개 항목만 선별하여 매핑하십시오.\n\n종합 전략 도출: 5개 섹션의 analysis와 recommendation을 종합하여 executive_summary 섹션의 하위 필드를 전략적으로 작성하십시오.\n\n[OUTPUT_FORMAT] 반드시 아래 JSON 스키마를 준수하여 단일 JSON 객체만 출력하십시오.\n\n{\n  \"meta\": {\n    \"applicant_name\": \"(지원자 이름 - 없을 경우 '지원자'로 표기)\",\n    \"target_position\": \"(JD의 positionTitle)\",\n    \"date\": \"(YYYY-MM-DD 형식의 오늘 날짜)\"\n  },\n  \"executive_summary\": {\n    \"headline\": \"(전체를 관통하는 강력한 한 줄 헤드라인. 예: '경험 나열형'에서 '성과 증명형' 그로스 마케터로의 도약)\",\n    \"summary_text\": \"(종합적인 평가 및 수정 방향성을 3~4문장으로 서술)\",\n    \"key_strategy\": \"(핵심 수정 전략 요약)\",\n    \"strong_point\": \"(지원자의 가장 강력한 무기 1가지)\",\n    \"weak_point\": \"(보완이 시급한 약점 1가지)\",\n    \"synergy_point\": \"(섹션 간 시너지를 낼 수 있는 조언)\"\n  },\n  \"sections\": {\n    \"self_introduction\": {\n      \"analysis\": \"(Self Intro 전문가의 분석 요약)\",\n      \"strategy\": \"(Self Intro 전문가의 수정 전략)\",\n      \"tobe_copy\": \"(수정 제안된 자기소개 문구 전체)\"\n    },\n    \"core_competencies\": {\n      \"analysis\": \"(Competency 전문가의 분석 요약)\",\n      \"strategy\": \"(Competency 전문가의 수정 전략)\",\n      \"tobe_structure\": \"(수정된 역량 리스트를 줄바꿈 '\\\\n'과 불릿 '•'을 사용하여 하나의 문자열로 변환. 예: '• [JD핵심] 데이터 분석\\n• [Tool] Python')\"\n    },\n    \"tech_stack\": {\n      \"analysis\": \"(Tech 전문가의 분석 요약)\",\n      \"strategy\": \"(Tech 전문가의 수정 전략)\",\n      \"tobe_structure\": \"(수정된 기술 스택 리스트를 줄바꿈과 불릿을 사용하여 하나의 문자열로 변환)\"\n    },\n    \"key_achievements\": [\n      {\n        \"title\": \"(첫 번째 핵심 성과 제목)\",\n        \"asis\": \"(AS-IS 원문)\",\n        \"tobe\": \"(STAR 기법이 적용된 TO-BE 수정안)\"\n      },\n      {\n        \"title\": \"(두 번째 핵심 성과 제목 - 없으면 빈 문자열)\",\n        \"asis\": \"(AS-IS 원문 - 없으면 빈 문자열)\",\n        \"tobe\": \"(TO-BE 수정안 - 없으면 빈 문자열)\"\n      }\n    ],\n    \"career_history\": [\n      {\n        \"company_name\": \"(첫 번째 주요 회사명)\",\n        \"company_role\": \"(첫 번째 주요 회사 role)\",\n        \"company_period\": \"(첫 번째 주요 회사 재직기간)\",\n        \"tobe_bullets\": \"(해당 회사의 수정된 경력 기술(bullet points)을 줄바꿈 '\\\\n'과 불릿 '•'을 사용하여 하나의 문자열로 변환)\"\n      },\n      {\n        \"company_name\": \"(두 번째 주요 회사명 - 없으면 빈 문자열)\",\n        \"company_role\": \"(두 번째 주요 회사 role - 없으면 빈 문자열)\",\n        \"company_period\": \"(두 번째 주요 회사 재직기간 - 없으면 빈 문자열)\",\n        \"tobe_bullets\": \"(내용 - 없으면 빈 문자열)\"\n      }\n      {\n        \"company_name\": \"(세 번째 주요 회사명 - 없으면 빈 문자열)\",\n        \"company_role\": \"(세 번째 주요 회사 role - 없으면 빈 문자열)\",\n        \"company_period\": \"(세 번째 주요 회사 재직기간 - 없으면 빈 문자열)\",\n        \"tobe_bullets\": \"(내용 - 없으면 빈 문자열)\"\n      }\n      {\n        \"company_name\": \"(네 번째 주요 회사명 - 없으면 빈 문자열)\",\n        \"company_role\": \"(네 번째 주요 회사 role - 없으면 빈 문자열)\",\n        \"company_period\": \"(네 번째 주요 회사 재직기간 - 없으면 빈 문자열)\",\n        \"tobe_bullets\": \"(내용 - 없으면 빈 문자열)\"\n      }\n      {\n        \"company_name\": \"(다섯 번째 주요 회사명 - 없으면 빈 문자열)\",\n        \"company_role\": \"(다섯 번째 주요 회사 role - 없으면 빈 문자열)\",\n        \"company_period\": \"(다섯 번째 주요 회사 재직기간 - 없으면 빈 문자열)\",\n        \"tobe_bullets\": \"(내용 - 없으면 빈 문자열)\"\n      }\n    ]\n  },\n  \"final_checklist\": \"(지원자가 이력서 제출 전 반드시 확인해야 할 2~3가지 최종 점검 사항)\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        896,
        32
      ],
      "id": "a9ff44a0-bac5-428d-8167-d681d4fcf168",
      "name": "Message a model6",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 지원 공고 및 이력서 입력",
        "height": 240,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        -48
      ],
      "typeVersion": 1,
      "id": "77070f6f-1678-4603-a57d-47f6d4d329ed",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 지원공고 분석 및 데이터 정리",
        "height": 320,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        352
      ],
      "typeVersion": 1,
      "id": "14ddefb4-fb12-486e-a5b7-abc53aa038ea",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 분야별 전문가 5인의 분석",
        "height": 352,
        "width": 1792
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        816
      ],
      "typeVersion": 1,
      "id": "e6a54e27-ce06-4b20-8021-a8e49f848a57",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 1차 draft 종합 검토",
        "height": 320,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -64
      ],
      "typeVersion": 1,
      "id": "70cacd02-8733-47e8-b10c-0fb4b6e3000b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "1Umjt3uCXT4qhimPYRPYI4CU9qLF2D4lA__ZA1mvugV0"
        },
        "name": "={{ $('On form submission').item.json.company }}_이력서_검토_리포트_{{ $('On form submission').item.json.submittedAt }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "16Yf1qhyHRAPn0hr7RywJ6tXtpaPMDWyV",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        32
      ],
      "id": "ded8f4a1-585e-46e7-b47f-c3e6a05f4901",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rAxALcYeMkM3SOd4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{applicant_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.applicant_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{executive_headline}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.exec_headline }}"
            },
            {
              "action": "replaceAll",
              "text": "{{executive_summary_text}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.exec_summary_text }}"
            },
            {
              "action": "replaceAll",
              "text": "{{key_strategy}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.exec_key_strategy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{strong_point}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.exec_strong_point }}"
            },
            {
              "action": "replaceAll",
              "text": "{{weak_point}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.exec_weak_point }}"
            },
            {
              "action": "replaceAll",
              "text": "{{synergy_point}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.exec_synergy_point }}"
            },
            {
              "action": "replaceAll",
              "text": "{{intro_analysis}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.self_intro_analysis }}"
            },
            {
              "action": "replaceAll",
              "text": "{{intro_strategy}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.self_intro_strategy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{intro_tobe_copy}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.self_intro_tobe_copy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{target_position}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.target_position }}"
            },
            {
              "action": "replaceAll",
              "text": "{{date}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.date }}"
            },
            {
              "action": "replaceAll",
              "text": "{{competency_analysis}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.competency_analysis }}"
            },
            {
              "action": "replaceAll",
              "text": "{{competency_strategy}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.competency_strategy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{competency_tobe_structure}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.competency_tobe_structure }}"
            },
            {
              "action": "replaceAll",
              "text": "{{tech_analysis}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.tech_analysis }}"
            },
            {
              "action": "replaceAll",
              "text": "{{tech_strategy}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.tech_strategy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{tech_tobe_structure}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.tech_tobe_structure }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_1_title}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_1_title }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_1_asis}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_1_asis }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_1_tobe}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_1_tobe }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_2_title}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_2_title }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_2_asis}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_2_asis }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_2_tobe}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_2_tobe }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_1_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_1_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_1_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_1_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_2_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_2_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_2_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_2_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{final_checklist_text}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.final_checklist }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education1_school_name}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[0].schoolName }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education1_major}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[0].major }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education1_period}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[0].status }} {{ $('Code in JavaScript1').item.json.education[0].period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education2_school_name}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[1].schoolName }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education2_major}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[1].major }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education2_period}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[1].status }} {{ $('Code in JavaScript1').item.json.education[1].period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{etc_info}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.etc }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1664,
        32
      ],
      "id": "10f7004a-a59f-4639-86c6-0b36ca92c581",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4bWErfGpoIsWWRJL",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. n8n의 입력 데이터를 가져옵니다.\nconst items = $input.all();\n\n// 2. 실제 텍스트 데이터가 있는 경로로 접근합니다.\nconst rawText = items[0]?.json?.content?.parts?.[0]?.text;\n\n// 데이터가 없으면 빈 결과를 반환\nif (!rawText) return [];\n\n// 3. 정규 표현식을 사용하여 ```json ... ``` 사이의 내용만 추출합니다.\nconst jsonMatch = rawText.match(/```json\\n([\\s\\S]*?)\\n```/m);\nif (!jsonMatch || jsonMatch.length < 2) return [];\n\n// 4. JSON 객체로 변환\nconst jsonString = jsonMatch[1].trim();\nlet parsedData;\n\ntry {\n    parsedData = JSON.parse(jsonString);\n} catch (e) {\n    return [{ json: { error: \"JSON 파싱 실패\" } }];\n}\n\n// 5. [핵심] 모든 데이터를 평탄화(Flat)하여 결과 객체 생성\nconst result = {};\n\n// --- (A) Meta 정보 ---\nif (parsedData.meta) {\n    result.applicant_name = parsedData.meta.applicant_name;\n    result.target_position = parsedData.meta.target_position;\n    result.date = parsedData.meta.date;\n}\n\n// --- (B) Executive Summary ---\nif (parsedData.executive_summary) {\n    result.exec_headline = parsedData.executive_summary.headline;\n    result.exec_summary_text = parsedData.executive_summary.summary_text;\n    result.exec_key_strategy = parsedData.executive_summary.key_strategy;\n    result.exec_strong_point = parsedData.executive_summary.strong_point;\n    result.exec_weak_point = parsedData.executive_summary.weak_point;\n    result.exec_synergy_point = parsedData.executive_summary.synergy_point;\n}\n\n// --- (C) Sections: Self Introduction ---\nif (parsedData.sections?.self_introduction) {\n    result.self_intro_analysis = parsedData.sections.self_introduction.analysis;\n    result.self_intro_strategy = parsedData.sections.self_introduction.strategy;\n    result.self_intro_tobe_copy = parsedData.sections.self_introduction.tobe_copy;\n}\n\n// --- (D) Sections: Core Competencies ---\nif (parsedData.sections?.core_competencies) {\n    result.competency_analysis = parsedData.sections.core_competencies.analysis;\n    result.competency_strategy = parsedData.sections.core_competencies.strategy;\n    result.competency_tobe_structure = parsedData.sections.core_competencies.tobe_structure;\n}\n\n// --- (E) Sections: Tech Stack ---\nif (parsedData.sections?.tech_stack) {\n    result.tech_analysis = parsedData.sections.tech_stack.analysis;\n    result.tech_strategy = parsedData.sections.tech_stack.strategy;\n    result.tech_tobe_structure = parsedData.sections.tech_stack.tobe_structure;\n}\n\n// --- (F) Sections: Key Achievements (배열 자동 처리) ---\n// 예: achievement_1_title, achievement_2_title ... 식으로 생성됨\nif (Array.isArray(parsedData.sections?.key_achievements)) {\n    parsedData.sections.key_achievements.forEach((item, index) => {\n        const num = index + 1; // 1부터 시작\n        result[`achievement_${num}_title`] = item.title;\n        result[`achievement_${num}_asis`] = item.asis;\n        result[`achievement_${num}_tobe`] = item.tobe;\n    });\n}\n\n// --- (G) Sections: Career History (배열 자동 처리) ---\n// 예: career_1_company_name, career_2_company_name ... 식으로 생성됨\nif (Array.isArray(parsedData.sections?.career_history)) {\n    parsedData.sections.career_history.forEach((item, index) => {\n        const num = index + 1;\n        result[`career_${num}_company_name`] = item.company_name;\n        result[`career_${num}_company_role`] = item.company_role;\n        result[`career_${num}_company_period`] = item.company_period;\n        result[`career_${num}_tobe_bullets`] = item.tobe_bullets;\n    });\n}\n\n// --- (H) Final Checklist ---\nresult.final_checklist = parsedData.final_checklist;\n\n// 6. 결과 반환\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        32
      ],
      "id": "ccf94b46-42bd-4d65-aad5-61f84dea18f9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "14h-ijfo6ZdsjbrPxfSYIZAchSFBLcazM65YdGd4d90M",
          "mode": "id"
        },
        "name": "={{ $('On form submission').item.json.company }}_{{ $('Code in JavaScript').item.json.applicant_name }}_{{ $('On form submission').item.json.submittedAt }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1i1_TcnKJalWR1CxKJA6SksPxK7nT7iJ4",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        416
      ],
      "id": "d10a5b05-7b81-49c2-8c03-d392496ca100",
      "name": "Copy file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rAxALcYeMkM3SOd4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{applicant_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.applicant_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{target_position}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.target_position }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email}}",
              "replaceText": "jinh1203@gmail.com"
            },
            {
              "action": "replaceAll",
              "text": "{{phone}}",
              "replaceText": "010-6300-0305"
            },
            {
              "action": "replaceAll",
              "text": "{{link_portfolio}}",
              "replaceText": "https://jinhyun.framer.website/"
            },
            {
              "action": "replaceAll",
              "text": "{{address}}",
              "replaceText": "경기도 고양시 일산서구 일현로 140"
            },
            {
              "action": "replaceAll",
              "text": "{{intro_tobe_copy}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.self_intro_tobe_copy }}"
            },
            {
              "action": "replaceAll",
              "text": "{{competency_tobe_structure}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.competency_tobe_structure }}"
            },
            {
              "action": "replaceAll",
              "text": "{{tech_tobe_structure}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.tech_tobe_structure }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_1_title}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_1_title }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_1_tobe}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_1_tobe }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_2_title}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_2_title }}"
            },
            {
              "action": "replaceAll",
              "text": "{{achievement_2_tobe}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.achievement_2_tobe }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_1_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_1_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_1_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_1_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_1_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_1_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_1_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_1_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_2_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_2_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_2_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_2_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_2_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_2_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_2_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_2_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_3_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_3_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_3_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_3_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_3_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_3_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_3_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_3_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_4_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_4_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_4_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_4_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_4_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_4_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_4_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_4_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_5_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_5_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_5_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_5_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_5_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_5_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_5_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_5_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_6_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_6_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_6_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_6_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_6_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_6_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_6_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_6_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_7_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_7_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_7_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_7_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_7_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_7_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_7_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_7_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_8_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_8_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_8_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_8_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_8_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_8_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_8_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_8_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_9_name}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_9_company_name }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_9_role}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_9_company_role }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_9_period}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_9_company_period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{company_9_tobe_bullets}}",
              "replaceText": "={{ $('Code in JavaScript').item.json.career_9_tobe_bullets }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education1_school_name}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[0].schoolName }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education1_major}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[0].major }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education1_period}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[0].status }} {{ $('Code in JavaScript1').item.json.education[0].period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education2_school_name}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[1].schoolName }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education2_major}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[1].major }}"
            },
            {
              "action": "replaceAll",
              "text": "{{education2_period}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.education[1].status }} {{ $('Code in JavaScript1').item.json.education[1].period }}"
            },
            {
              "action": "replaceAll",
              "text": "{{etc_info}}",
              "replaceText": "={{ $('Code in JavaScript1').item.json.etc }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1040,
        416
      ],
      "id": "a2905d14-8daf-45b6-98ff-fda89410f1d3",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "4bWErfGpoIsWWRJL",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 이력서 생성",
        "height": 320,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        352
      ],
      "typeVersion": 1,
      "id": "dbce2d36-bd82-4933-b218-aa7db786e85d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -352,
        16
      ],
      "id": "6ae303aa-f3c4-4d95-9aee-2a208924bee3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=[ROLE] 당신은 비정형 텍스트 처리 및 문서 구조화 전문가(Document Parser)입니다. 당신의 임무는 형식이 제각각인 이력서 원본 텍스트([RAW_RESUME_TEXT])를 분석하여, 다운스트림 AI 에이전트들이 처리할 수 있는 표준화된 JSON 포맷으로 변환하는 것입니다.\n\n[INPUT]\n\n[RAW_RESUME_TEXT]: {{ $json.text }}\n\n[TASK] [RAW_RESUME_TEXT]를 논리적 구획으로 나누고, 다음 7가지 핵심 영역으로 데이터를 추출 및 정제하십시오.\n\n[EXTRACTION_RULES] (데이터 추출 규칙)\n\nmeta (기본 정보):\n\n이름, 이메일, 전화번호, 포트폴리오 링크 등을 최상단 영역에서 찾아 추출합니다.\n\nselfIntroduction (자기소개):\n\n'자기소개', 'About Me', 'Profile', 'Intro' 등의 헤더 아래에 있는 서술형 텍스트를 추출합니다.\n\n별도 헤더가 없다면, 경력 기술 전의 긴 서문(3문장 이상)을 자기소개로 간주합니다.\n\ncoreCompetencies (핵심 역량):\n\n'핵심 역량', 'Key Competencies', 'Skills', '강점' 등의 섹션에 있는 항목을 리스트로 추출합니다.\n\ntechStack (기술 스택):\n\n'Tech Stack', 'Skills', 'Tools', '언어', '프레임워크' 섹션에서 기술 키워드(Python, Java, AWS 등)를 추출합니다.\n\n별도 섹션이 없다면 coreCompetencies나 careerHistory에서 기술 명사만 필터링하여 추출합니다.\n\nkeyAchievements (주요 성과):\n\n'주요 성과', 'Key Achievements', 'Projects' 섹션이 별도로 있다면 해당 내용을 추출합니다.\n\n중요: 별도 성과 섹션이 없다면, careerHistory 내에서 숫자가 포함된 성과(예: 30% 성장, 1위 달성) 문장만 별도로 복사하여 이 섹션을 구성합니다.\n\ncareerHistory (경력 기술):\n\n회사명, 근무 기간, 직무(Role), 상세 업무(Bullets)를 식별하여 객체 배열로 구조화합니다.\n\n근무 기간은 표준 형식(YYYY.MM - YYYY.MM)으로 통일합니다.\n\neducation (학력):\n\n학교명, 전공, 학위, 재학 기간을 추출합니다.\n\n[DATA_CLEANSING] (정제 지침)\n\n불필요한 특수문자(***, ===, ---)나 페이지 번호, 머리글/바닥글 텍스트는 제거합니다.\n\nnull 또는 비어있는 섹션은 빈 리스트 []나 빈 문자열 \"\"로 반환합니다. (키 자체를 삭제하지 마십시오.)\n\n[OUTPUT_FORMAT] 반드시 아래 JSON Schema를 준수하는 단일 JSON 객체만 출력하십시오. (Markdown 코드 블록 json ... 포함)\n\n{\n  \"meta\": {\n    \"applicantName\": \"String (이름)\",\n    \"email\": \"String (이메일)\",\n    \"phone\": \"String (전화번호)\",\n    \"links\": [\"String (URL 목록)\"]\n  },\n  \"selfIntroduction\": \"String (자기소개 전체 텍스트)\",\n  \"coreCompetencies\": [\"String (역량 1)\", \"String (역량 2)\"],\n  \"techStack\": [\"String (기술 1)\", \"String (기술 2)\"],\n  \"keyAchievements\": [\n    \"String (성과 1 - 원문 그대로)\",\n    \"String (성과 2 - 원문 그대로)\"\n  ],\n  \"careerHistory\": [\n    {\n      \"companyName\": \"String (회사명)\",\n      \"period\": \"String (YYYY.MM - YYYY.MM)\",\n      \"role\": \"String (직무/직책)\",\n      \"description\": [\n        \"String (업무 내용 1)\",\n        \"String (업무 내용 2)\"\n      ]\n    }\n  ],\n  \"education\": [\n    {\n      \"schoolName\": \"String\",\n      \"major\": \"String\",\n      \"status\": \"String (졸업/재학 등)\",\n      \"period\": \"String\"\n    }\n  ],\n  \"etc\": \"String (어학, 자격증 등 기타 정보 텍스트)\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        16
      ],
      "id": "b138922b-6e9a-48a3-86d6-443fd5fb9d69",
      "name": "Message a model7",
      "credentials": {
        "googlePalmApi": {
          "id": "y5uPwd8LysBc9xrS",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node - JavaScript\n// Phase 0: LLM이 추출한 이력서 문자열을 실제 JSON 객체로 변환\n\nreturn items.map(item => {\n  try {\n    // 1. LLM 응답 텍스트 추출\n    // 제공해주신 데이터 구조: [{ content: { parts: [{ text: \"...\" }] } }]\n    const textResponse = item.json.content.parts[0].text;\n\n    if (!textResponse) {\n      throw new Error(\"LLM 응답에서 텍스트를 찾을 수 없습니다.\");\n    }\n\n    // 2. JSON 문자열 추출 (Data Cleaning)\n    // LLM이 \"```json { ... } ```\" 처럼 마크다운을 포함하거나, 앞뒤에 사족을 붙일 경우를 대비합니다.\n    // 가장 처음 나오는 '{' 부터 가장 마지막에 나오는 '}' 까지 잘라냅니다.\n    const firstOpenBrace = textResponse.indexOf('{');\n    const lastCloseBrace = textResponse.lastIndexOf('}');\n\n    if (firstOpenBrace === -1 || lastCloseBrace === -1) {\n      throw new Error(\"응답 텍스트 내에서 유효한 JSON 구조({ ... })를 찾지 못했습니다.\");\n    }\n\n    const cleanJsonString = textResponse.substring(firstOpenBrace, lastCloseBrace + 1);\n\n    // 3. JSON 파싱 (String -> Object 변환)\n    const parsedResumeData = JSON.parse(cleanJsonString);\n\n    // 4. 결과 반환\n    // item.json을 파싱된 이력서 데이터로 덮어씌웁니다.\n    item.json = parsedResumeData;\n\n    return item;\n\n  } catch (error) {\n    // 에러 발생 시, 에러 내용과 원본 데이터를 함께 출력하여 디버깅을 돕습니다.\n    item.json = {\n      error: true,\n      message: error.message,\n      rawInput: item.json // 원본 데이터 보존\n    };\n    return item;\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        16
      ],
      "id": "c6b12672-2a70-428e-92c6-d997af00abb4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41c98565-89b8-4d86-946e-6841d3a9b2a1",
              "name": "keyEvaluationCriteria",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "c1afd5bc-e331-410a-9634-1fd2d45950d4",
              "name": "selfIntroduction",
              "value": "={{ $('Code in JavaScript1').item.json.selfIntroduction }}",
              "type": "string"
            },
            {
              "id": "35a04d70-e7c5-4d19-ac87-0361ee548761",
              "name": "coreCompetencies",
              "value": "={{ $('Code in JavaScript1').item.json.coreCompetencies }}",
              "type": "string"
            },
            {
              "id": "c72b53a0-8e2b-407b-9e19-3f1894ac7a17",
              "name": "techStack",
              "value": "={{ $('Code in JavaScript1').item.json.techStack }}",
              "type": "array"
            },
            {
              "id": "e157549c-6a6e-497e-8e96-0f218ba7ddf6",
              "name": "keyAchievements",
              "value": "={{ $('Code in JavaScript1').item.json.keyAchievements }}",
              "type": "array"
            },
            {
              "id": "9f007109-85cf-4c73-8e54-3daf165e3a14",
              "name": "careerHistory",
              "value": "={{ $('Code in JavaScript1').item.json.careerHistory }}",
              "type": "array"
            },
            {
              "id": "e3aa5c6f-8bd4-46e7-b795-4b00dfda3ce9",
              "name": "education",
              "value": "={{ $('Code in JavaScript1').item.json.education }}",
              "type": "array"
            },
            {
              "id": "2c880b60-4d97-4d63-af3c-eec02439e409",
              "name": "etc",
              "value": "={{ $('Code in JavaScript1').item.json.etc }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        416
      ],
      "id": "b00a88df-0dde-4806-96ff-219f5de510c2",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c85f3cf-6440-4e28-a424-b45555a81dc6",
              "name": "keyEvaluationCriteria",
              "value": "={{ $('Message a model').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "acabf2e1-789b-4dc6-a667-301c9f7104e5",
              "name": "selfIntroduction",
              "value": "={{ $('Message a model1').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "eeb3345c-c87f-425d-a781-6b767c01a93a",
              "name": "coreCompetencies",
              "value": "={{ $('Message a model2').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "a3cef79a-a935-4d8e-86a5-641e79318c8d",
              "name": "techStack",
              "value": "={{ $('Message a model3').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "b0caa344-b03a-4918-a841-c2795d345efb",
              "name": "keyAchievements",
              "value": "={{ $('Message a model4').item.json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "c2a9d84c-25d2-4cc4-ba8d-cfaca161d5bb",
              "name": "careerHistory",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        32
      ],
      "id": "ab541f1b-d446-444b-9390-055def269965",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model6": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Copy file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model7": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5247896-f6df-4d86-8e90-5f94a15e334e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "777b07ef47bd7c75e9e34b7e5095f486f52077aca2a4ed266a442d29f4412bed"
  },
  "id": "MtGoPreRjVHFzIQq",
  "tags": []
}