codes/project_automation_shorts_production.json
{
  "name": "project_automation_shorts_production",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-tts:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDKSgn7-TdAwMSt5qNGy8LWnr2NI6bY_lY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"contents\": [{\n          \"parts\":[{\n            \"text\": \"{{ $json.sceneNarration.narration }}\"\n          }]\n        }],\n        \"generationConfig\": {\n          \"responseModalities\": [\"AUDIO\"],\n          \"speechConfig\": {\n            \"voiceConfig\": {\n              \"prebuiltVoiceConfig\": {\n                \"voiceName\": \"Kore\"\n              }\n            }\n          }\n        }\n    }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        64
      ],
      "id": "40f1668c-caf4-46f2-b8d9-e5f23b015b96",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84189f92-ccd5-43a8-9250-2d646fdb577b",
              "name": "sceneNarration",
              "value": "={{ $('Get row(s) in sheet').item.json.scene_Narration }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -96
      ],
      "id": "55438345-0085-4e7d-b8df-57f61e22d6d9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.resource_dir }}  &&\ncd {{ $json.resource_dir }} &&\nrm -f *"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -192,
        -96
      ],
      "id": "f62d5a5d-eef8-4b97-8937-5573ba250118",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {
          "fileName": "={{ $('Edit Fields1').item.json.resource_dir }}{{ $('Split Out').item.json.sceneNarration.scene }}.pcm"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1584,
        64
      ],
      "id": "9c2bcfe7-b6b0-4e4c-9aa1-c02da0d2e27b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Edit Fields1').item.json.resource_dir }}{{ $('Split Out').item.json.sceneNarration.scene }}.pcm",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1792,
        64
      ],
      "id": "727cb27d-0de7-46cb-be2a-0bffb79ee2e7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyDKSgn7-TdAwMSt5qNGy8LWnr2NI6bY_lY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"[지침]이미지와 설명 모두 출력. [이미지 프롬프트]: {{ $('Split Out').item.json.sceneNarration.imagePrompt }} [출력형식]-text: 이미저설명, -data:이미지\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        384
      ],
      "id": "f93de437-dea0-4553-b0ca-51bc803de30d",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1584,
        384
      ],
      "id": "27dc165d-ce51-4c2d-8ff1-5dad4acdfe50",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('Edit Fields1').item.json.resource_dir }}{{ $('Split Out').item.json.sceneNarration.scene }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1792,
        384
      ],
      "id": "90363486-b740-4257-b0fb-a1c217440462",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "command": "=cd {{ $('Edit Fields1').item.json.resource_dir }} &&\nffmpeg -loop 1 -i {{ $('Split Out').item.json.sceneNarration.scene }}.png -f s16le -ar 24000 -ac 1 -i {{ $('Split Out').item.json.sceneNarration.scene }}.pcm -c:v libx264 -c:a aac -pix_fmt yuv420p -shortest {{ $('Split Out').item.json.sceneNarration.scene }}.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2032,
        384
      ],
      "id": "ccc4420a-aa7c-48ce-854f-7c0155a5141e",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        -96
      ],
      "id": "7423ef6e-66b4-4d31-9389-6c42ccab081a",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -96
      ],
      "id": "37336aea-9187-49b7-8ea6-348dc6db9696",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19iplwHrToTJh-_hQHWrhIB3uFjrVmzDorx0E6N8Gzb0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19iplwHrToTJh-_hQHWrhIB3uFjrVmzDorx0E6N8Gzb0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "시나리오완료"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -96
      ],
      "id": "ebeac009-7255-4649-b94f-1b877769bef3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kjEpEtkGl82Z9Yxw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fac27847-a3fc-44bc-8e22-45c82527184f",
              "name": "resource_dir",
              "value": "/home/node/outputs/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        -96
      ],
      "id": "fd95f9dd-3d5d-4b5c-a442-3a0a2063c82c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sceneNarration",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        -96
      ],
      "id": "69ef44ea-5d0c-4cab-b54e-a901e3cd4bcf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b8ac289-6a79-4d80-ac46-06d47db4c8ed",
              "name": "sceneNarration.scene",
              "value": "=scenen{{ $('Split Out').item.json.sceneNarration.scene }}: {{ $('Split Out').item.json.sceneNarration.imagePrompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -192
      ],
      "id": "dfc181f4-e0c9-4f10-a90a-1b4a8f6951e6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "19iplwHrToTJh-_hQHWrhIB3uFjrVmzDorx0E6N8Gzb0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19iplwHrToTJh-_hQHWrhIB3uFjrVmzDorx0E6N8Gzb0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key_date": "={{ $('Get row(s) in sheet').item.json.key_date }}",
            "Status": "생성완료",
            "scene_image": "={{ $json.sceneNarration }}"
          },
          "matchingColumns": [
            "key_date"
          ],
          "schema": [
            {
              "id": "key_date",
              "displayName": "key_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link or Contents",
              "displayName": "Link or Contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scene_Narration",
              "displayName": "scene_Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scene_image",
              "displayName": "scene_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "shorts_URL",
              "displayName": "shorts_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload_URL",
              "displayName": "Upload_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -192
      ],
      "id": "9392f671-ccf9-4d7c-bf71-f737e8c991a2",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kjEpEtkGl82Z9Yxw",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fbcea7ed-26ad-446b-917a-a0942b15ddb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed051297fb93ef1be53ee5134d673f832884e317f8cb1f95cbe80d14221b7000"
  },
  "id": "1NgraK6F2IRdcxro",
  "tags": []
}